[2020-02-17 20:06] cannikin opened #1 "Launch website"
Should contain a nice splash/home page and the full tutorial broken down into manageable sections, one page each.

* static site
* build script that downloads the README, splits it onto pages based on h2-level headers and creates a page for each

[2020-02-20 00:54] cannikin opened #3 "Add Cookbook section"
Topic list

* Integrating with an outside API
* Creating a custom function
* Creating a RESTful endpoint

[2020-02-22 01:49] thedavidprice opened #4 "Add MailChimp Newsletter Signup"
…somewhere prominent.

[2020-02-26 16:28] thedavidprice commented on #1
FWIW — this might be helpful for tutorial code sections:
https://clipboardjs.com

Have not taken it for a spin...

[2020-03-03 16:58] cannikin opened #5 "Remove old search results"
Right now the build process will only ever *add* to the existing search results records. We need a process that *removes* ones that aren't referenced any more, otherwise we'll start getting search results that don't exist in the actual pages.

The unique key on each search result is the MD5 hash of the content. We should pull down all existing keys into an array and then as we create/update record

[2020-03-09 03:17] #4 closed

[2020-03-09 18:40] cannikin opened #7 "Add /home alias for homepage"
So that we can have a unique URL for HackerNews

[2020-03-09 18:45] cannikin opened #8 "Fix "subscribe" button on Homepage"
Negative margin is covering the button

[2020-03-09 18:46] cannikin opened #9 "Bring tutorial README.md into redwoodjs.com repo"

[2020-03-09 18:56] cannikin opened #10 "Add a "Hosted by Netlify" link in the footer"

[2020-03-09 18:58] cannikin opened #11 "Add "Sponsored by Hypothesis, an initiative of Preston-Werner Ventures" to fooger"

[2020-03-09 20:25] cannikin commented on #8
Fixed with  b47cea7

[2020-03-09 20:25] #8 closed

[2020-03-09 20:25] cannikin commented on #7
Fixed with 4703c3f

[2020-03-09 20:25] #7 closed

[2020-03-09 20:39] peterp commented on #11
Closed in #14

[2020-03-09 20:39] #11 closed

[2020-03-09 20:39] peterp commented on #10
Closed in #11

[2020-03-09 20:39] #10 closed

[2020-03-10 17:08] thedavidprice opened #15 "Improving UX regarding code blocks actions (vs. reference or snippets)"
For the docs, one note I had yesterday is that it often is unclear when code is referenced whether the reader should take action or just examine. Maybe potential improvements in the future could be:
- if a whole file is given, assume it’s Copy+Replace file
- if a snippet is given, a yellow highlight indicates a change you need to replace in the file --> so take action (note: I’m thinking the yello

[2020-03-10 17:35] #9 closed

[2020-03-10 18:03] #1 closed

[2020-03-12 05:27] msell opened #22 "First Cell should be Posts"
I'm going through the tutorial and when I followed the instructions up to the command `yarn rw g cell BlogPosts` and added the `BlogPostsCell` to `HomePage.js` and I was getting a 400 server error.  To get past this error I changed the references to blogPosts throughout the first Cell to just posts and that seemed to correct the issue.

[2020-03-12 14:46] cannikin commented on #22
@msell did you get to the next section where you need to rename part of the `QUERY` and then prop that's sent into `Success`? You rename those from `blogPosts` to `posts` and you should be good to go.

[2020-03-12 14:49] msell commented on #22
Grrr my apologies.  I must have missed/skipped that.  Appreciate the help.

[2020-03-12 14:49] #22 closed

[2020-03-12 16:54] thedavidprice opened #27 "Add Troubleshooting doc"
Can refere to it from the main tutorial, but seems best as a separate doc that will likely be more dynamic.

Can refere to known issues/bugs with links. And/or also include setup and config issues for other systems and preferences.

Here’s one from the forum to include:

[2020-03-13 04:51] guledali commented on #27
We should also make a **note** on installing postgresql

[2020-03-13 04:54] guledali commented on #27
@thedavidprice

[code]

[code]

[code]

[2020-03-14 20:29] peterp opened #34 "Mention `src` alias in documentation"

[2020-03-15 00:50] thedavidprice commented on #27
Created a "Troubleshooting & How To" category in the forum:
https://community.redwoodjs.com/c/troubleshooting/8

Added the SQLite instructions here:
https://community.redwoodjs.com/t/installing-sqlite-locally/112

@guledali Feel free to add the "Windows postgresql How To" guide if you’d like. I’m sure it will help some people but definitely isn’t necessary. And the main changes I’d suggest to the

[2020-03-15 00:50] #27 closed

[2020-03-15 16:22] cannikin commented on #34
I don't even know what this means!

[2020-03-15 22:05] danvalencia opened #39 "Using formMethods causes client side validation to stop work"
Configuring RedwoodJS `Form` with `formMethods` attribute causes the client side form validation to stop working. I used the `useForm()` method from `react-hook-form` as described in the _Saving Data_ section of the tutorial.

I tried hard reset of the server, but same result.

I'm using node v12.16.1, yarn 1.19.2.

See attached GIF:
![oOz1iNQOdT](https://user-images.githubusercontent.com/198096/7

[2020-03-16 00:11] thedavidprice commented on #34
ha! ditto… 🤣

[2020-03-16 17:34] cannikin commented on #5
Closed by c86a293988d5a42fbeea178c42b111a8b84d6fec

[2020-03-16 17:34] #5 closed

[2020-03-16 17:55] cannikin commented on #39
Since you're calling `useForm()` yourself you need to manually pass the option:

    const formMethods = useForm({ mode: 'onBlur' })

Normally we pass everything in the `validation` prop on `<Form>` to the internal `useForm()` call on your behalf, but since you've called it yourself we can't and you need to do it yourself!

[2020-03-16 17:55] cannikin commented on #39
I'll add a note about that in the tutorial to make others aware.

[2020-03-16 20:45] #39 closed

[2020-03-16 21:34] cannikin commented on #34
Note from @peterp: this is referring to the fact that you can do `import Foo from 'src/components/Foo' and not have to do '../src' or other relative paths. It works from both `web` and `api`

[2020-03-16 21:50] danvalencia commented on #39
@cannikin it works, thanks!

[2020-03-16 21:51] cannikin commented on #39
I added a callout at the end of that section in the tutorial to let people know!

[2020-03-17 20:50] cannikin opened #43 "Update tutorial text/screenshots to use DATABASE_URL instead of DB_HOST"

[2020-03-17 21:05] cannikin opened #44 "Update dependency section for new BINARY_TARGET ENV var"
See https://github.com/redwoodjs/create-redwood-app/pull/39

[2020-03-17 22:52] #34 closed

[2020-03-18 16:59] cannikin opened #47 "Automatically update version in header"
Maybe add a step at the beginning of the build step that replaces a variable in layouts/application.html?

[2020-03-18 17:00] cannikin opened #48 "Trigger a build on Netlify when the main redwood repo `master` is updated"

[2020-03-18 22:21] cannikin opened #50 "Update directory structure description/screenshot for api/confg/dbInstance.js"
Assuming this is merged: https://github.com/redwoodjs/create-redwood-app/pull/40

[2020-03-19 17:13] cannikin opened #51 "Catch promise rejections in build step and raise error"
Thanks to:

```10:02:48 AM:   (node:1302) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.```

If something goes wrong during the build phase Netlify doesn't think anything bad happened and will happily deploy the (broken) site.

[2020-03-19 18:55] thedavidprice commented on #51
promises promises

[2020-03-19 23:20] cannikin commented on #48
Thanks @thedavidprice!

[2020-03-19 23:20] #48 closed

[2020-03-19 23:27] cannikin commented on #51
Closed by 15832ece97f49094b05e22bf5eafad0ca277423e

[2020-03-19 23:27] #51 closed

[2020-03-19 23:44] thedavidprice commented on #48
😊

[2020-03-20 17:03] cannikin opened #52 "Tutorial: specify use of src directory within web directory"
From: https://github.com/redwoodjs/redwood/issues/302

In tutorial, specify that folders `components`, `layouts`, `pages` are within `src` folder which is within `web` folder. Currently specifying that these folders are directly within `web` folder. Plus a quick description of  `web/src` folder would be needed.

Direct link to section where update needed:
https://redwoodjs.com/tutorial/redwood-fil

[2020-03-20 18:14] cannikin opened #53 "Update note about "props.children" in layout to just "children""

[2020-03-20 18:18] cannikin opened #54 "Update "photonjs" generator name in schema to "client""

[2020-03-20 18:35] cannikin opened #55 "Scaffold description mentions "Photon" instead of "Prisma Client""

[2020-03-20 19:23] cannikin opened #56 "Create /logos page with logo usage explanations"
See https://github.com/logos

[2020-03-20 20:42] #54 closed

[2020-03-20 20:44] #55 closed

[2020-03-20 20:46] #52 closed

[2020-03-20 20:46] #53 closed

[2020-03-20 21:38] #47 closed

[2020-03-24 17:29] #56 closed

[2020-03-24 17:56] cannikin opened #65 "Update tutorial directory structure screenshot/description to include api/src/lib/db.js"
https://github.com/redwoodjs/create-redwood-app/issues/45

[2020-04-02 11:19] jrhorn424 commented on #65
Happy to help with this. Do I need specific color scheme or font?

[2020-04-02 11:21] jrhorn424 commented on #50
I can help with this. I don't know if I can explain the reason for this change, or if describing that is even in the scope of this change.

[2020-04-02 11:27] jrhorn424 commented on #15
Was thinking the same when working through the tutorial. It's a high quality tutorial as-is! I had a few different thoughts about improving the learner experience. How about:

* if a block is copyable, the copy controls appear
* if a block is not copyable, the copy controls do not appear
* if a block has a highlight, the copy controls appear, but the copy function only copies highlighted lines.

[2020-04-02 11:30] jrhorn424 commented on #3
For integrating with an outside API, were you thinking a standard REST example, like a Star Wars or Movie database? Or something like "when you post a blog post, it triggers a vendor API to send a copy of the post to registered subscribers".

[2020-04-02 15:52] cannikin commented on #50
This is pretty much just a duplicate of #65, closing!

[2020-04-02 15:52] #50 closed

[2020-04-02 15:59] cannikin commented on #65
I updated the title of this issue to be more accurate!

This is something new we released in 0.3.0 where the initialization of the `db` variable you use in the services happens in this file (instead of internal to Redwood) so that you can pass the constructor some options if you want. I was going to add a bulletpoint to the breakdown of what's in the `api` directory, describing the above.

I also

[2020-04-02 16:06] jrhorn424 commented on #65
Would you accept a PR with those changes? I'd also propose that instead of screenshots, we use an edited version of the output from a GNU `tree` command? It's formatted nicely. You might be able to get a sense of what it's like by installing `tree` with homebrew and trying it inside a project.

[2020-04-02 16:46] cannikin commented on #65
Yep we'd happily take a PR as long as the text fits in the with the "feel" of the tutorial. :)

And I could be persuaded to use some `tree` output, I love `tree`!

[2020-04-02 16:58] cannikin commented on #3
Probably both! We're thinking that it contains lots of common usage pattern examples that we don't cover in the tutorial or the docs. Uploading an image to something like filestack.com, sending an email via sendgrid.com, getting the weather from openweathermap.org... tons of helpful code snippets and writeups, just like a page or two each. We've got someone who got neo4j working as a replacement f

[2020-04-03 01:17] jrhorn424 commented on #3
I agree with the your initial approach. If I understand, no changes to the build script would be necessary? It might be self-evident; I haven't looked. :blush:

[2020-04-04 21:17] Takashiidobe opened #80 "content of api/src/services/posts/posts.js is slightly inaccurate"
In the tutorial page `Side Quest: How Redwood Works with Data`, it says `api/src/services/posts/posts.js` has this content:

[code]

What I see (as of v0.4.0) in my `api/src/services/posts/posts.js` is the following:

[code]

[2020-04-04 23:25] jrhorn424 commented on #80
Is your concern that it isn't consistent between versions?

[2020-04-05 00:55] Takashiidobe commented on #80
Well I presume there was some update to prisma or to the redwood scaffolding that caused it to generate this code.

Figured it could be updated in the tutorial since v0.4.0 is the current version.

[2020-04-05 01:39] #80 closed

[2020-04-06 23:32] cannikin opened #82 "Update OpenGraph tags to use the context of the page they're displayed on"
Right now the OG tags on pages are all the same—the homepage content.

[2020-04-07 18:45] guledali opened #83 "Add Plugins section"

[2020-04-13 17:04] cannikin commented on #82
Updated weeks ago!

[2020-04-13 17:04] #82 closed

[2020-04-21 18:18] cannikin opened #92 "Update capitalization of JAMstack -> Jamstack"
https://github.com/jamstack/jamstack.org/issues/279

[2020-04-21 20:52] #92 closed

[2020-04-21 23:03] cannikin opened #93 "Cookbook: no server/db deploy"
Have the frontend maybe just read in some JSON published in web/public

[2020-04-21 23:03] cannikin opened #94 "Cookbook: send an email"
GraphQL call that triggers an email via SendGrid.

We could also use this as an example of using one service inside another. Have a `log` table that logs sends. GraphQL call goes to a custom `emails.js` service, which imports `logs.js` service and creates the log entry.

[2020-04-21 23:04] cannikin opened #95 "Cookbook: file uploads"
Use the simple Filestack widget

[2020-04-21 23:05] cannikin opened #96 "Add Reference section"
Move real API docs here, like the current Redwood Form docs

[2020-04-21 23:05] cannikin opened #97 "Rename Documentation to Guides"

[2020-04-21 23:05] cannikin opened #98 "Move /docs from main redwood repo here"

[2020-04-21 23:11] cannikin commented on #15
Found this package: https://www.npmjs.com/package/markdown-it-highlight-lines

Will require that we convert from [marked](https://github.com/markedjs/marked) to [markdown-it](https://github.com/markdown-it/markdown-it) but might not be too bad!

I'm not exactly loving having to count down line numbers, but otherwise we have to invent some kind of custom markdown parser (or write our own plugin for

[2020-04-22 18:52] cannikin opened #100 "Section titles with backticks don't display properly in search"
![image](https://user-images.githubusercontent.com/300/80021647-aadcac80-848f-11ea-8bd3-5192dbddfe62.png)

[2020-04-22 20:11] cannikin opened #101 "Fix double scroll on mobile nav"
Opening all nav menus on mobile makes the box too long off the bottom of the screen, but you can still access the main scrollbar on the right and bust out of the locked view, messing up the layout.

[2020-04-22 21:11] #101 closed

[2020-04-22 22:18] #100 closed

[2020-04-23 20:40] cannikin commented on #97
Done

[2020-04-23 20:40] #97 closed

[2020-04-23 20:40] cannikin opened #104 "Add some kind of "follow us on twitter" widget to homepage"

[2020-04-27 20:47] cannikin commented on #15
Finally done!

[2020-04-27 20:47] #15 closed

[2020-04-27 20:47] cannikin commented on #65
Done! Used output of `tree` per @jrhorn424's recommendation!

[2020-04-27 20:47] #65 closed

[2020-04-29 18:17] #96 closed

[2020-04-29 18:17] #3 closed

[2020-04-30 00:22] cannikin commented on #93
Done!  https://redwoodjs.com/cookbook/app-without-a-database

[2020-04-30 00:22] #93 closed

[2020-04-30 00:24] cannikin opened #110 "Cookbook: run a background job"
Thinking of just demoing a custom function with easycron.com

[2020-04-30 04:40] thedavidprice commented on #98
you did it 🎉

[2020-04-30 04:40] #98 closed

[2020-04-30 19:13] cannikin opened #111 "Cookbook: CSS integration"
An #h2 section for each framework integration. Start with Tailwind but suggested additions:

* Linaria
* Style components
* React Bootstrap
* More to come

[2020-04-30 19:14] cannikin opened #112 "Cookbook: custom function"

[2020-05-01 18:24] cannikin opened #113 "Add Peter's talk with Max to News section"
https://www.pscp.tv/w/1MnxnQQjLMEJO

[2020-05-04 06:23] cannikin opened #115 "When in a form field typing “/“ forces focus to the search bar"
Specifically the sticker form

[2020-05-04 16:47] #115 closed

[2020-05-04 18:55] #113 closed

[2020-05-04 20:33] cannikin opened #117 "Navigation doesn't expand when landing on the index page for a section"
Going to https://redwoodjs.com/guides for example does not expand the Guides section of the left nav. This is due to the way the NavigationController works—it doesn't find a match between the URLs in the links at left and so doesn't think you're viewing one of its children pages.

Maybe do a check that if the parent exists in the URL, open that section no matter what, and if no pages match either,

[2020-05-04 20:45] cannikin commented on #117
Easy fix is to just force redirects with Netlify so the URL actually just changes instead of them serving the content under the "wrong" URL.

[2020-05-04 20:45] #117 closed

[2020-05-05 04:31] thedavidprice opened #118 "Improve "Wrapping Up" Section of Tutorial"
@cannikin what do you think about improvements like these to the last section?

## Wrapping Up
..current text and pat on the back. Plus emojis. Lots of emojis.

### Next Steps: Improve your App
Recommend some guides and tutorials to make their app better:
- cookbook on 3rd party API
- guide on installing Postgres locally
- etc

### Next Steps: Joining the Community
...what you currently have, but

[2020-05-05 23:08] cannikin opened #119 "Spike: Add executable hints to tutorial so it can be run through CI"
Right now our primary directive is to make sure the tutorial always works for those trying out Redwood for the first time. If those users have a bad experience it's very hard to win their trust back to come and try out the framework again.

Right now the only way to do that is to go through parts of the tutorial manually that we think may be at risk when upgrading parts of the framework. Ideally t

[2020-05-06 19:24] cannikin opened #120 "Nav fix V2"
Turns out Netlify doesn't return headers to clients, which are needed to make Turbolinks realize a redirect has taken place. Let's go back to the original plan and highlight the nav items even if the URL isn't quite the same. Should be able to use a `data-match` attribute to give an additional URL that should trigger a positive match.

[2020-05-06 19:35] thedavidprice opened #121 "auto-publish new News (and other) items to Twitter"
If simple, it would be nice to have news and other updates auto-distributing. Just close this out if it seems like there'd be too much work involved. We can handle it via manual process just as well.

[2020-05-06 20:58] #120 closed

[2020-05-06 21:16] cannikin commented on #121
HMMM Shouldn't be too bad with their API, but I'm usually a couple of days behind on new news launching, do we care if we've already announced it via Twitter when it actually happens, then the site announces it again via the API a couple of days later?

I dunno if we have enough news right now to make the dev investment worth it...I'm maybe adding 1 news item a week.

[2020-05-06 21:22] thedavidprice commented on #121
re: redundant tweets -- I don't think it would be an issue as most accounts post about a topic several times.

But I think you're right on the "not yet worth it" side of things right now. Let's just try to keep Twitter in mind adding things like new docs, Videos, Cookbooks, news, etc. manually to the Twitter feed.

I'm fine with that. closing this.

[2020-05-06 21:22] #121 closed

[2020-05-07 00:53] cannikin commented on #118
Yup I like all of this! I tend to not use emojis when writing docs (personal preference), but I'll be happy to review any PR that includes some. 😉

I'll work on this tomorrow!

[2020-05-07 19:55] cannikin commented on #118
@thedavidprice Let me know how that looks and if I linked to the correct issues for those 4 features!

[2020-05-07 20:56] thedavidprice commented on #118
🚀
(emoji use intentional)

Looks super great to me, RC. Thanks for taking the time! We should probably get TPWs eyes on the Roadmap -- I'll ping him directly.

In my case, replace "multiple" with "multitude"... 😬

[2020-05-07 20:56] #118 closed

[2020-05-07 23:39] cannikin opened #125 "Update No Database/API cookbook recipe to just delete /api directory"
Once https://github.com/redwoodjs/redwood/pull/490 is released.

[2020-05-09 00:27] thedavidprice commented on #125
FYI only half fixed --> https://github.com/redwoodjs/redwood/issues/483#issuecomment-626074341

[2020-05-09 04:24] thedavidprice commented on #125
See note in redwoodjs/redwood/pull/524

[2020-05-11 20:57] cannikin opened #126 "Add ShopTalk podcast to News"
https://shoptalkshow.com/412/

[2020-05-12 00:47] #126 closed

[2020-05-18 02:06] pmarsceill opened #128 "Search results link to non-existent page resulting in a 404 error"
Search for "Auth" on redwoodjs.com -> Click result -> No page found.

![Kapture 2020-05-17 at 22 05 38](https://user-images.githubusercontent.com/896475/82167700-9c18c800-988a-11ea-82b9-52895f35cf91.gif)

[2020-05-18 21:58] cannikin commented on #128
All better!

[2020-05-18 21:58] #128 closed

[2020-05-19 22:56] #112 closed

[2020-05-21 21:48] #125 closed

[2020-05-21 22:27] cannikin opened #135 "Update "No API" recipe"
Once https://github.com/redwoodjs/redwood/pull/576 goes live in a release

[2020-05-22 17:25] cannikin opened #138 "Add note about dev vs. prod when defining ENV vars"
https://redwoodjs.com/guides/environment-variables

Also fix grammar in API section "you can add access the environment variables"

[2020-05-22 17:57] cannikin opened #139 "Remove extracting getCurrentUser from service props"
https://redwoodjs.com/tutorial/authentication#api-authentication

[2020-05-22 22:28] cannikin opened #141 "Add note about upgrading to 0.6.0 in the Auth section"
A lot of users seem to be getting stuck adding Auth because they didn't realize they needed to upgrade to at least 0.7.0. Let's add a little callout a the top of the Authentication section of the tutorial to remind them.

[2020-05-22 22:36] thedavidprice commented on #141
Thanks! I think the root cause is me sending a lot of people directly to the Auth section via my forum topic and release note links.

But, you know, that'll learn 'em.

¯\_(ツ)_/¯

[2020-05-23 00:18] #95 closed

[2020-05-24 17:08] #141 closed

[2020-05-25 19:17] #139 closed

[2020-05-25 19:19] cannikin opened #145 "Add note at start of auth section to explain the difference between "authentication" and "authorization""
Explain that we're only incorporating Authentication at this stage and that Authorization is a separate topic and will be added when Redwood adds helpers.

Based on reader feedback:

![image](https://user-images.githubusercontent.com/300/82838699-db927600-9e81-11ea-8a17-31e20b18d7e9.png)

[2020-05-26 18:11] cannikin opened #147 "Cookbook: Integrating Sentry.io"

[2020-05-27 00:10] #145 closed

[2020-05-27 00:21] #138 closed

[2020-05-27 18:08] cannikin opened #148 "Add top level "The Redwood Way" link to nav that shows the main README"
Right now this is under "Introduction" in the Guides section.

[2020-05-27 23:24] cannikin opened #150 "Add Tom's Jamstack Conf talk to News"
https://www.youtube.com/watch?v=NWCECB-GlWI

[2020-05-28 19:58] cannikin opened #151 "Remove instructions for opting into Netlify Build Plugin from Tutorial"
Build plugins are default enabled for everyone now!

[2020-05-28 20:14] #151 closed

[2020-05-29 17:45] #150 closed

[2020-05-29 18:33] cannikin opened #153 "Add Discord link to header/footer"

[2020-05-29 18:35] cannikin opened #154 "Add tooltips to header channels"
So people get a sense of what kind of content goes where.

Discourse: for long form discussions, show & tell
Discord: quick questions and feedback

[2020-05-29 20:37] thedavidprice commented on #153
I'm looking into Discord "setting" now:
- add an overview message or description about purpose
- add a link/widget to "start new thread in forum"

**Draft Copy (please help shape):**
Welcome to the official Redwood Discord server. Consider this the community "watercooler" -- a place for getting to know each other, discussing related topics (and sometimes tangential), and sharing your interests. tl

[2020-05-29 22:26] #153 closed

[2020-05-29 22:58] cannikin commented on #154
![image](https://user-images.githubusercontent.com/300/83311795-233c3900-a1c5-11ea-9f73-6d8eb35843e2.png)

![image](https://user-images.githubusercontent.com/300/83311804-29321a00-a1c5-11ea-8177-f35af8bc58f1.png)

[2020-05-29 22:58] cannikin commented on #154
How are these for descriptions @thedavidprice @mojombo

[2020-05-29 23:16] #154 closed

[2020-05-29 23:36] thedavidprice commented on #154
Just iterating here. Tried Knowledgebase. I like it, but mabye it feels too "cold"? Could Knowledge Repo be a (better) thing?

Redwood's Knowledge-Repo: discussions, how-to, troubleshooting, show & tell

Redwood's Watercooler: relationship building, chats, and #random

[2020-05-29 23:58] cannikin commented on #154
I think of a more formal thing when I think of Knowledge Base, like a searchable collection of FAQs on a product site. And "repo" kind of confuses with GitHub repo maybe?

[2020-05-30 02:21] jtoar opened #156 "Improvements to Existing Docs (tracking issue)"
# Improvements to Existing Docs (tracking issue)

The following's a list of all the docs we got, what they're about or should be about, and questions/helpful information. I'll continue to update it as things progress:

- [ ] **App Configuration: redwood.toml:** Should list all the configuration options and detail certain setups (e.g. container/vm). Should discuss the importance of the file in iden

[2020-05-31 00:27] sgarrity opened #158 "Code Copy button loses line breaks"
When copying the sample code from the [Back Home section on the tutorial](https://redwoodjs.com/tutorial/a-second-page-and-a-link#back-home), the code is copied without line breaks in the JSX portion.

The copied code looks like this:
[code]

Instead of looking like this:
<img width="679" alt="image" src="https://user-images.githubusercontent.com/58062/83341636-e2731b80-a2bb-11ea-981d-afeaafcce087

[2020-05-31 01:54] dardub opened #159 "Tutorial: Side Quest apollo clarification"
On the following page: https://redwoodjs.com/tutorial/side-quest-how-redwood-works-with-data

Back to our data flow: Apollo has called the resolver which, in our case, retrieved data from the database. Apollo digs into the object and returns only the key/values that were asked for in the GraphQL query. It then packages up the response in a GraphQL payload and returns it to the browser.

Do you guy

[2020-05-31 02:28] jtoar commented on #159
Hey thanks for bringing this up! I totally see your point here.

I think it's pretty clear: we say "called the resolver" shortly after "Apollo", which implies that this is the Apollo Server (and if I got that wrong, then yikes!). Then we end that paragraph with "returns it to the browser", so we can be pretty sure that we're not talking about the client at this point.

But we could've avoided all

[2020-05-31 04:19] jtoar commented on #158
@sgarrity Thanks for pointing this out, I'll look into it!

[2020-05-31 15:16] weaversam8 commented on #156
I think this is a major gap... The Router Docs probably have 10-20 sections. At the very least, I think we should include a list of sections at the top of the page. Laravel Docs do this and it looks like this:

![image](https://user-images.githubusercontent.com/2546219/83355854-fce6dc80-a32f-11ea-9081-86175b0fa34d.png)

Personally, I also think these sections can/should be listed on the left sideb

[2020-05-31 15:48] RobertBroersma opened #162 "Documentation for Testing package"
Here's a small doc on how to (currently) work with the `@redwoodjs/testing` package.

@jtoar @thedavidprice I'm still a bit lost in the whole docs situation so I was hoping one of you could put this in the right place! Feel free to make any changes and add stuff as well—I'm not much of a writer 🤷‍♂️

---

# Testing
Redwood provides several helpers to make your life easier when testing your Redwood

[2020-05-31 17:02] cannikin commented on #156
I’m using markdown-it to parse the docs, which does support generating a TOC from the headings in the doc.

On 1280+ screens there is a “On this page” nav element on the right that kind of serves as a TOC, although it doesn’t have any hierarchy.

[2020-05-31 17:33] jtoar commented on #156
@sam Was also about to ask if you found the "On this page" nav helpful?

@cannikin I think indenting would help. Spiked this PR to try it out: are things more readable with indents? https://deploy-preview-163--redwoodjs.netlify.app/docs/authentication

Other than listing sections, there's still the question of some kind of API reference for the docs that could use one. I like what tailwind does. A

[2020-05-31 17:41] jtoar commented on #162
@robert I think this is a great start, thanks a ton for doing this!

@thedavid I started a google doc for this: https://docs.google.com/document/d/1bUnj1UUUK29HrojgKCzXLCHdsalOVsKyn0l9YLnnY-0/edit?usp=sharing.

Robert, for a few other docs before this David and I used a google doc to write everything, an issue (like this one) to talk over changes/ask for reviews on our edits, then wrap it all up i

[2020-05-31 17:56] RobertBroersma commented on #162
Sounds like a plan!

[2020-05-31 18:42] cannikin opened #164 "Add Tom's auth video to Videos section"
https://www.youtube.com/watch?v=bo2-H8FjjXk

[2020-05-31 22:37] dardub commented on #159
@jtoar I think from the perspective of someone who has little Apollo experience it could create more confusion. If you don't think it's over-kill to be more explicit everywhere, I can make that PR.

[2020-05-31 23:16] jtoar commented on #159
@dardub I say go for it!

[2020-06-01 16:47] cannikin commented on #156
I like that indent stuff, thanks!

[2020-06-01 16:57] cannikin commented on #159
We'd love to see a PR that clarifies this, thanks!

[2020-06-01 17:27] #158 closed

[2020-06-01 17:33] sgarrity commented on #158
Works great. Thanks, y'all!

[2020-06-01 18:25] thedavidprice commented on #156
One challenge with the ride sidebar for docs like Router, Forms, and CLI is that your browser does need to be wide for it to be visible. I've even missed it before on my widescreen monitor.

I don't think the solution is to have every doc include a TOC at the top -- this would be redundant in the case of the right sidebar displaying.

But when right sidebar is hidden, having the same content at th

[2020-06-01 18:49] weaversam8 commented on #156
Wow yeah, I had no idea that even existed. I keep my tabs on the lefthand side of my browser, so the window is a bit smaller, and I guess that's why. (Indentation is a must though, great work on that PR @jtoar!)

That said, I think that we definitely do need better show/hide logic for that sidebar, or to swap it out for a TOC / merge into the left sidebar. I definitely don't think we should have b

[2020-06-01 20:12] cannikin commented on #156
Is this nav really causing people issues or are we getting into bike shedding territory here? 😉 I borrowed the nav paradigm from Tailwind's website and it seems to work superbly well there, I've never found it deficient. One improvement I do see would be to only reload the main content area on navigation, instead of the whole page. I'm working on that now.

I'm using the default breakpoints, [whic

[2020-06-01 20:24] jtoar commented on #156
@cannikin I like the nav too and use it often. (I also love bike shedding!)

I changed the breakpoint from `xl` to `lg` over at #166. I do see that narrowing in the main content, but I think there still might be value in figuring out how to let the "On this page" nav linger where it is a little longer. @weaversam8 does it show up now for you / what do you think?

Agreed; and this sounds worth tryi

[2020-06-01 20:40] thedavidprice commented on #156
🤣

I think it could be slippery re: _how_ we improve/implement (guilty of getting ahead of myself). But the main priority is very relevant --> many pages are a challenge to navigate when the right sidebar is _not_ present. The nav structure you implemented is great. We just need is displayed  _more_!  Starting with breakpoint adjustment in #166 is a great+simple way forward!

re: Bikeshedding
Rema

[2020-06-01 21:51] weaversam8 commented on #156
Yeah, I definitely tend to be pulled into debates about minor styling stuff... I think I tend to be too much of a perfectionist sometimes. I think I still _personally_ prefer merging the nav structure, but this is a fine alternative.

@jtoar - the updated breakpoint shows for me now on the page, thanks.

[2020-06-01 22:17] jtoar commented on #156
@weaversam8 Would you be up for spiking out what this would look like? I think it's hard for me to say without being able to try it out. And all of us here like demos, etc.

Glad to know it's showing up; I'll keep working on that breakpoint.

[2020-06-01 22:26] cannikin commented on #156
I'd support a spike as well, I'm always up for changing my mind in light of convincing evidence!

[2020-06-02 02:38] jtoar opened #169 "Links in the "On this page" nav are (kind of) broken"
The links in the "On this page" nav seem kind of broken. Easiest to see with the [CLI Commands](https://redwoodjs.com/docs/cli-commands) page. The behavior I'm seeing is that when the url is

[code]

You can use any link in the on "On this page" nav once, but then all other links take you back to the top/just don't work.

Can't point to exactly how yet but things seem to have broken with [dea43619

[2020-06-02 21:28] thedavidprice commented on #162
@jtoar Google docs process seems fine as long as it is manageable for you to 1) consolidate input/edits and 2) port to markdown

@RobertBroersma what I feel like I'm missing is an outline with a list of topics/examples to cover. One way this will become apparent is when we update the current generator test.js templates. But another way to get there would be to schedule a time for you to walk us th

[2020-06-02 22:46] cannikin commented on #169
Yeah it seems like any anchor link stops working after the first click. It could be that my code that resets the scroll position to get you past the top nav is always being invoked, even when there isn't a new page load. Either the `turbolinks:before-cache` event is firing when clicking those links, or the code that figures out which nav item should be open and highlighted on the left is firing to

[2020-06-02 22:49] gizmoGremlin opened #170 "Add to Cli docs an explanation of generator for Magic.Link auth provider"
see issue https://github.com/redwoodjs/redwood/issues/623
and pending pull request https://github.com/redwoodjs/redwood/pull/644

Add the Magic.Link provider option in the CLI Docs. This Doc correlates with the information you should see when you run yarn rw g auth --help

[2020-06-03 06:12] RobertBroersma commented on #162
@thedavidprice I definitely think comprehensive testing guidelines are important for the Redwood ecosystem. Writing tests can be quite daunting for people who are new to testing, even without Cells, MockedProviders and whatnot, so I think some nice _opinionated_ guidelines could be very helpful. Some opinions will also implicitly be worked into the generated templates of course!

I think it's good

[2020-06-03 20:42] cannikin opened #171 "Create single tutorial video"
Now that all 4 parts are up I'll edit them together into one long mega video.

[2020-06-04 03:18] weaversam8 commented on #156
I'm sorry guys, I've been absolutely swamped with work these past few days... I'm still behind, I don't think I have time to spike it out and do a PR, so we can keep it the way it is for now.

I _did_ made a quick mockup in the browser console so I could take this screenshot, in case it helps with vision later on.

![image](https://user-images.githubusercontent.com/2546219/83711168-7ad90b00-a5f0-1

[2020-06-04 05:39] guledali commented on #162
@RobertBolender How would you go about testing protected routes?

[2020-06-04 05:53] RobertBroersma commented on #162
@guledali That's a good point actually. I haven't looked into those yet, but I suspect the testing package needs some minor additions for those to function properly.

After that you can test them as any other route :)

[2020-06-04 09:02] guledali commented on #162
BTW @RobertBroersma  Good work on testing 👍 Can't wait for the API side

[2020-06-05 19:19] jtoar commented on #162
@RobertBroersma Circling back to this today.

@thedavidprice Yes to both of these.

Definitely feeling this. But I'm also not very familiar with the work that's been going on. I'm going to take the time today to remedy that.

If that walkthrough hasn't happened yet, I'm up for scheduling that as well.

[2020-06-07 05:08] jtoar commented on #170
@gizmoGremlin I'll cover this.

[2020-06-07 16:43] gizmoGremlin commented on #170
Excellent, thank you.

On Sun., Jun. 7, 2020, 2:08 a.m. Dominic Saadi, <notifications@github.com>
wrote:

[2020-06-07 22:55] thedavidprice opened #178 "Collapsable Right Nav + "Edit on GitHub" Link"
[GitBook](https://www.gitbook.com/) has a nice responsive UI for the right sidebar Nav. The "edit on github" link is a helpful feature as well.

See an example here: https://basarat.gitbook.io/typescript/getting-started

## Screenshots
### Full width
<img width="927" alt="Screen Shot 2020-06-07 at 3 50 34 PM" src="https://user-images.githubusercontent.com/2951/83981918-275c0b00-a8d7-11ea-8ccf-7b37

[2020-06-08 15:49] #169 closed

[2020-06-08 17:19] cannikin opened #180 "Stop overwriting Algolia index for every branch/PR that is pushed to Netlify"
Right now anything that gets built on Netlify uses the [production Algolia index](https://github.com/redwoodjs/redwoodjs.com/blob/master/lib/search.js#L6). So if there is a PR which moves some docs, the changes are sent to Algolia as if they were live on the real site. There is a separate dev index, but is only used in development environments (and only if you have the Algolia API key).

Options:

[2020-06-08 17:39] cannikin opened #181 "Add environment variable to disable search indexing in development"
When people are building the site locally they need to comment out some code in order to skip running the search index (which will fail without an Algolia api key). Let's just set an ENV var that says whether or not to worry about populating the search during build time, set to `false` by default—usually you don't care about the search index during development.

We will be sure to set the flag ON

[2020-06-08 19:23] peterp opened #182 "Update webpack configuration documentation to suggest searching for loader"
Right now we suggest people modify the webpack configuration via an index, but that means that we have to keep the indexes stable over time (not too much of a problem), but it would be nice to provide a utility function that allows people to search for a loader and modify it.

[2020-06-09 23:16] thedavidprice opened #183 "Add missing <SelectField> to Form Doc"
See `<SelectField>` here in `form.sj`:
https://github.com/redwoodjs/redwood/blob/d51ade08118c17459cebcdb496197ea52485364a/packages/web/src/form/form.js#L210

We should also audit to see if any other components/elements are missing from doc.

cc @jtoar

[2020-06-10 23:59] cannikin opened #185 "Saving scroll position on left nav broke mobile display"
Saving the scroll position of the left nav to make pages transitions a little smoother seems to have broken the nav on mobile.

Click a link and the nav doesn't auto close. When you do close it, there is not content behind it.

[2020-06-11 00:06] #185 closed

[2020-06-12 08:45] Tobbe opened #188 ""Open link in new tab" gives a 404"
Trying to open any of the top-level nav items in the left navigation bar on redwoodjs.com in a new tab or window gives you a 404 page.

![image](https://user-images.githubusercontent.com/30793/84483226-4ffa5100-ac99-11ea-8c50-7283770e21dd.png)

![image](https://user-images.githubusercontent.com/30793/84483532-bf704080-ac99-11ea-8551-af76af6be171.png)

[2020-06-12 13:14] Tobbe opened #189 "Searching in the docs leads to 404 pages"
Searching for "seed" and clicking on the first result gives me a 404 page

![image](https://user-images.githubusercontent.com/30793/84506071-0f153300-acbf-11ea-923d-be20df16cf7e.png)

![image](https://user-images.githubusercontent.com/30793/84506093-19cfc800-acbf-11ea-8d76-8d7f2f5624d6.png)

The URL is wrong, the correct URL should be https://redwoodjs.com/docs/cli-commands#db-seed

I guess someth

[2020-06-12 15:40] jtoar commented on #189
@Tobbe Ah thanks! This came up before briefly after merging #149, but we fixed that by flushing the index. That's probably worth doing again, but this looks like it might be different?

In #155 we made the CLI commands doc's title different than it's menu title. It looks like the search links are using the doc title instead of the menu title.

[2020-06-12 15:54] cannikin opened #190 "Add a note about failing migration on Windows"
https://github.com/redwoodjs/redwood/issues/575#issuecomment-642910989

[2020-06-12 16:05] cannikin commented on #188
Hmmm yeah there is no `docs/index.html` page, we rely on Netlify to do a redirect for us from `/docs` to the first real doc on the page. But if you look in `netlify.toml` (starting on line 29) we're only redirecting the root directory, not the `index.html`. Netlify has a setting to show what they call "pretty URLs", which to them just means not showing `index.html` in the address bar. It looks lik

[2020-06-12 16:08] cannikin commented on #189
This is most likely due to this: https://github.com/redwoodjs/redwoodjs.com/issues/180 I'll work on that this morning!

[2020-06-12 17:02] #180 closed

[2020-06-12 17:06] cannikin commented on #189
@jrhorn424 Well my fix for #180 didn't help, although it feels good to get that done!

It's still generating the search URL as "command-line-interface.html" instead of "cli-commands.html" because of this: https://github.com/redwoodjs/redwoodjs.com/blob/master/lib/search.js#L44

[2020-06-12 17:10] jtoar commented on #189
@cannikin It looks like we need to do

[code]

but wasn't sure where to do it in the control flow (only glanced at it). The if statement before the call wants chapter and section to be null:
https://github.com/redwoodjs/redwoodjs.com/blob/4452d3c13f79d8b4db8d41282d41765b4a2c583c/lib/search.js#L103-L106

[2020-06-12 17:22] #189 closed

[2020-06-12 17:29] cannikin commented on #189
All better!

[2020-06-14 00:50] #190 closed

[2020-06-14 21:48] Tobbe commented on #147
https://medium.com/@rockymeza/setting-up-sentry-in-redwoodjs-157fb88c6519

[2020-06-15 23:54] #188 closed

[2020-06-16 04:23] thedavidprice opened #197 "Add "Destroy" Command + options to CLI Doc"
https://redwoodjs.com/docs/cli-commands

This is effectively duplicating the CLI command:
- should each option be listed independently (same as generate)
- is there a way to combine this with `generate` commands but not break structure?

Probably needs to be listed in full for consistency. Just lot of things...

[code]

[2020-06-16 10:12] jtoar commented on #197
@thedavidprice Right now, #198 shows what 1) would look like (listing them independently): https://deploy-preview-198--redwoodjs.netlify.app/docs/cli-commands#destroy-alias-d.

One question is: do we think the `destroy` commands will get any more nuanced? If we don't, then taking the second route of co-locating them with their generator might make the most sense, just saying something like "Can be

[2020-06-17 00:54] thedavidprice commented on #197
@jtoar Thanks for taking the time to do this -- helpful to see. Yeah, I just think it adds a lot of "noise". Which happens with the Generators in general but there's just enough that need more detail it seems helpful.

If I could have made the call, Destroy would **not** have been a command but rather a flag on each Generator, e.g. `yarn rw g sdl --destroy`. So I think that's affecting how I feel

[2020-06-17 17:29] cannikin opened #201 "Add apple-touch-icon"
One of the most common 404 returns from the site!

Good overview of which one is which: https://mathiasbynens.be/notes/touch-icons

[2020-06-18 00:58] cannikin opened #204 "Tutorial: Add "Message sent!" flash notification after sending message in Contact form"
Right now we just show an alert when you send a message, but I always intended to show a flash message at the top of the page. @Terris just added this functionality via https://github.com/redwoodjs/redwood/pull/654/ so now it's time!

[2020-06-19 08:20] sjmiddlebrook commented on #178
@cannikin @thedavidprice Hi, I'm new to Redwood and looking for a first issue to take on and get involved. I'd be happy to work on this one.

[2020-06-19 15:06] thedavidprice commented on #178
@sjmiddlebrook huge thanks in advance for offering to help! 🚀

I definitely +1 this. @cannikin as our, ahem, WebMaster9000™ what do you think/suggest?

[2020-06-19 15:58] cannikin commented on #178
So right now the responsive layout goes:

Small-Medium: Hamburger menu containing main nav
Large: Main nav at left
X-Large: Main nav at left + "On this page" nav on right

@thedavidprice When you suggested this were you thinking this is so that we can include the "On this page" nav on large screens, or small and medium as well? Shouldn't be too bad on large screens, but on small/medium we're talki

[2020-06-23 07:46] jtoar commented on #159
Hey @dardub, just wanted to see if you were still interested in this one. The api side has come up a lot recently on the forum, and I think a clarification like this is just what we need.

[2020-06-23 20:57] thedavidprice commented on #178
Correct, I'm proposing to use this for small <--> large screens. Per example:
https://basarat.gitbook.io/typescript/getting-started

Agreed we don't want "stacked" hamburgers, but if we want to keep main nav hamburger on right, we could swap icons or even use text, e.g. "^Sections", "^On this Page". I think our current main nav hamburger (currently _only_ containing the left column nav) would actu

[2020-06-23 21:22] thedavidprice commented on #119
@cannikin suggest we close this one out given Peter's new fancy Cypress E2E thingamajigger.

[2020-06-23 21:24] #119 closed

[2020-06-23 21:24] thedavidprice commented on #182
@peterp are you thinking to provide the utility function or just give an example via documentation?

[2020-06-23 21:50] thedavidprice opened #211 "Add Doc about DB (Prisma) Relations, RW Generator Support, and Links to Help"
**Create a new Doc about "DB: Schema Relations"** — currently there's no singular resource for developers to connect the dots:
- How to do schema.prisma relations (from Prisma Docs): https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-schema/relations
- What, if any, relations are supported by Redwood Generators? Examples?
- What, if any, workarounds exist to use Relations + RW Genera

[2020-06-24 06:45] Tobbe commented on #211
I read the prisma docs on relations a few days ago, and that was a "aha" moment for me. I was especially confused about the need for both an "author" and an "authorId" field. I thought that was very redundant. But seeing that they were only part of the schema file and not the actual db tables really cleared that up.

That said, I'm not sure it needs to be in RW's scope to explain that. Maybe that

[2020-06-24 20:47] cannikin opened #212 "Cookbook: add recipe for creating a new user on signup"
See https://github.com/redwoodjs/redwood/issues/745

[2020-06-25 01:03] thedavidprice commented on #211
Ah, agreed about "not being in Redwood's scope", and that's not what I'm suggesting here. I meant to imply this doc would _reference_ which external docs were necessary to do specific things. Pertaining to your "aha" moment, what could we have done better, earlier in the learning process to get you to that doc... or did you understand from the beginning how to learn about the DB schema models?

It

[2020-06-27 17:16] thedavidprice opened #215 "Add Tom's Prisma Day demo to News (or maybe Videos)"
Reminder to add this to the site (somewhere)!

https://www.youtube.com/watch?v=BqztLbj_cN4&feature=youtu.be&t=17252

[2020-06-28 22:52] jtoar opened #220 "Improve auth doc: more about GoTrue"
There's been quite a few questions about Go True lately, and we really don't talk about it that much in the docs (in fact, all we do is link to the GoTrue repo). So it's probably worth expanding on.

For reference on how to set it up, @Terris provided an example app: https://community.redwoodjs.com/t/netlify-gotrue-auth-example/762 (thanks Terris).

---

**Update** @Terris updated the auth readme

[2020-06-29 15:31] Terris commented on #220
@jtoar - I'd really like to take a stab at writing a recipe for this. I'll work up a draft and maybe you can help me make it cohesive and humane? :)

[2020-06-29 16:35] jtoar commented on #220
@Terris Absolutely :+1: sounds like a plan. Thanks for taking this on.

[2020-06-29 17:32] #215 closed

[2020-06-29 19:44] jtoar commented on #197
@thedavidprice That sounds great. Should be fixed today.

[2020-06-30 08:35] #170 closed

[2020-06-30 11:19] Tobbe opened #223 "localhost link in cli docs"
`[Creating a Post Editor](http://127.0.0.1:8080/tutorial/getting-dynamic.html#creating-a-post-editor)`
https://github.com/redwoodjs/redwoodjs.com/blame/main/docs/cliCommands.md#L672

I'll fix it if no one else beats me to it

[2020-06-30 15:27] #223 closed

[2020-07-03 00:18] #220 closed

[2020-07-03 15:01] Tobbe opened #228 "Search finds missing cells docs page"
![image](https://user-images.githubusercontent.com/30793/86480588-96017c80-bd4e-11ea-82cc-8d522a0b141d.png)

Clicking on that first link for the Cells docs, I get this

![image](https://user-images.githubusercontent.com/30793/86480645-b16c8780-bd4e-11ea-9be6-459cc8ef15ee.png)

[2020-07-03 15:02] Tobbe commented on #228
Is algolia picking up on this? https://github.com/redwoodjs/redwoodjs.com/pull/202

[2020-07-03 16:51] cannikin commented on #228
Hmm...PRs and branches are supposed to use a separate algolia index now, the production one should only be what's in `main` now. I'll double check that it's working as expected...

[2020-07-06 16:24] cannikin commented on #228
Okay I double checked and this is working correctly when Netlify is deploying—`main` builds populate the `docs` index on Algolia and branch and PR builds populate the `docs-branch` index. I cleared out the `docs` index and re-deployed `main`, then re-deployed the WIP cells PR and `docs` didn't change at all, as expected.

The only thing I can this of is that someone is writing to the `docs` index

[2020-07-06 16:45] jtoar commented on #228
@cannikin I‘ll check to make sure I’m not doing this somehow.

[2020-07-06 16:46] cannikin commented on #228
I'll also rotate the API key just in case!

[2020-07-07 19:27] jtoar commented on #183
Closed by #235; @tctrautman also checked to see if any others were missing and there weren't.

[2020-07-07 19:27] #183 closed

[2020-07-09 19:56] jtoar opened #239 "Update Forms doc"
We just merged https://github.com/redwoodjs/redwood/pull/749/, so now Forms work as expected. But we should still add a few notes about the coercion:

- [x] Make it more explicit that Redwood handles type coercion on the users' behalf (expected behavior)
- [x] Certain field types (`NumberField`) coerce automatically, but if users needs to set it manually/override it, they can set `dataType` to one

[2020-07-09 21:14] jtoar opened #241 "Add yarn rw db studio to CLI Commands doc"
This one is simple: just document. https://github.com/redwoodjs/redwood/pull/799.

[2020-07-10 09:33] Tobbe opened #243 "Wrong cli docs link in search results (404 page)"
Searching for `yarn rw dev api` and clicking the first result leads to a 404 page. See screenshots below

![image](https://user-images.githubusercontent.com/30793/87139806-cc844d80-c2a0-11ea-97f4-0b7b218dfd4e.png)

![image](https://user-images.githubusercontent.com/30793/87139679-a78fda80-c2a0-11ea-8f12-1da051ad8a5f.png)

I thought we fixed this already in https://github.com/redwoodjs/redwoodjs.co

[2020-07-10 17:35] cannikin commented on #243
So weird... I just rebuilt the index to clear that out. I'm going to check it throughout the day and watch every deploy to see if any of them write to `docs` when they should be writing to `docs-branch`.

[2020-07-14 19:32] dthyresson commented on #110
Another option for cron instead of [easycron.com](https://www.easycron.com/) is [Render's cron jobs](https://render.com/docs/cronjobs) but it is $4/mo while easycron has a free option (which is nice for tutorials).

If your cron job is ruby: https://github.com/render-examples/ruby-cron-job you can "just run it" via `bundle exec ruby main.rb`.

Something important for this recipe would be how to se

[2020-07-14 19:34] thedavidprice commented on #110
another option for personal projects is GH Actions as cron.

[2020-07-14 19:47] dthyresson commented on #212
This is what I have been doing with Auth0 (which could also be setup to do [hooks](https://auth0.com/docs/hooks) on signup/signin etc ...  in fact).

That said: the webhook approach is actually a much better implementation since it would not clutter `getCurrentUser` with something that only happens once it a while ie, `sign up` ... and a webhook on `sign in` would keep the User record up-to-date.

[2020-07-14 20:00] dthyresson commented on #94
Even fancier (and incorporating the cron background job recipe idea) would be to:

* generate email
* persist email in a message q (in this case a table not a Redis q or other q)
* background cron job call function to send unsent messages (even 10 mins or so for testing)
* logs message sent (or if mail api call failed ... "reschedule")

I've used [Mailgun to send](https://documentation.mailgun.com

[2020-07-16 07:40] RobertBroersma commented on #162
Bawnjorno,

This here PR https://github.com/redwoodjs/redwood/pull/805 introduced some more testing stuff that could use some docs!

## Running Tests

It now works similar to `create-react-app`:
- Running `yarn rw test` in your project automatically runs tests related to changed files.
- Running `yarn rw test --watchAll` automatically runs ALL tests on changing ANY file.
- Running `yarn rw test --

[2020-07-16 18:05] thedavidprice commented on #162
Thanks for this @RobertBroersma!

Are there instructions or a specific example about the Jest config files+code that will need to be added to a Redwood App? I'll need to include them in the next release.

[2020-07-16 18:32] RobertBroersma commented on #162
@thedavidprice If we end up *not* having the upgrade codemod, I think (almost) the exact thing in my comment under *Extending (Jest) configs should be included. Maybe slightly different wording.

[2020-07-17 08:21] mfosker opened #250 "Example code in GoTrue Auth Cookbook results in Unhandled Promise Rejection"
In the example code for the GoTrue Auth Cookbook (https://redwoodjs.com/cookbook/go-true-auth), the line:
[code]
which is used to display any error message, is within the Form component.

This results in an Unhandled Promise Rejection when the signup returns an error.
<img width="551" alt="Screenshot 2020-07-17 at 09 18 54" src="https://user-images.githubusercontent.com/1719698/87764748-c5b08a00-c

[2020-07-20 21:08] thedavidprice opened #252 "Should we add "how to upgrade" instructions?"
The only information about upgrading is in the CLI doc for `yarn rw upgrade`. Seems like we should include instructions in general covering both manual and CLI upgrade process.

y/n/maybe?

[2020-07-20 21:34] thedavidprice opened #253 "add `yarn rw diagnostics` command to CLI docs"
See https://github.com/redwoodjs/redwood/pull/842

And this comment:
https://github.com/redwoodjs/redwood/pull/842#issuecomment-658381749

[2020-07-20 22:45] thedavidprice opened #254 "update `yarn rw test` CLI documentation"
There are some new options and the default behavior has changed.

_corresponding Yargs command update Issue https://github.com/redwoodjs/redwood/issues/868_

Here's the current output:
[code]

[2020-07-21 00:34] cannikin commented on #252
As a self-contained doc? Is there anything to maintain between each version release or just a couple simple instructions about running `yarn rw upgrade` and following the prompts?

[2020-07-21 16:31] cannikin commented on #250
@Terris Any thoughts on this? It's possible this is a global problem with the FormContext somehow, but this cookbook article just happened to expose it.

[2020-07-21 16:45] Terris commented on #250
Yes, this was a result of the bug introduced with automatic coercion in 0.13.0 and has since been fixed in 0.14.0.

@mfosker Can you please try to [upgrade your Redwood project](https://redwoodjs.com/docs/cli-commands#upgrade) to 0.14.0 and see if the error is fixed?

[2020-07-21 21:05] mfosker commented on #250
Thanks @Terris
After updating to 0.14.0 I can not longer reproduce that issue.

[2020-07-21 21:08] Terris commented on #250
@mfosker Glad to hear! Sorry about the trouble there.

[2020-07-21 23:04] #250 closed

[2020-07-22 08:22] mfosker commented on #250
Awesome, thanks!

[2020-07-22 13:20] benmccann opened #257 "https://redwoodjs.com/community not found"
There's a link in the footer to https://redwoodjs.com/community. Clicking it leads to a page that says:

Go Home

[2020-07-22 13:56] peterp commented on #257
Oooh, whoops, could you open a PR and change that to https://community.redwoodjs.com/?

[2020-07-22 15:13] benmccann commented on #257
I'm not quite sure which file to change. It didn't come up on GitHub's search of this repo

[2020-07-22 20:16] Tobbe commented on #257
@benmccann If you want to do it, I think it's here https://github.com/redwoodjs/redwoodjs.com/blob/main/code/html/_nav.html#L116

If not, I can do it, let me know :)

[2020-07-22 22:43] #257 closed

[2020-07-28 12:52] Tobbe opened #260 "Update `g page` docs to include {param}"
The additions made by https://github.com/redwoodjs/redwood/pull/882 needs to be documented in the cli docs

[2020-07-30 04:58] thedavidprice opened #263 "Update Tutorial per new Prisma Dynamic Provider in RW v0.15.0"
Don't forget about CRA changes, k dokey?

[2020-07-31 19:05] cannikin opened #269 "Remove BINARY_TARGET ENV var setup"
After some testing with data migrations it seems like we do NOT need to set `binaryTargets` in `schema.prisma` to `rhel-openssl-1.0.x` any longer. Just leaving it as `native` (which is the default out of the box) is now working during a Netlify deploy.

This means we can remove this section in the tutorial:

![image](https://user-images.githubusercontent.com/300/89068415-025ba580-d326-11ea-961f-87

[2020-07-31 22:12] cannikin opened #271 "Add note to Data Migrations doc about upgrading existing apps"
Add `dataMigrate up` command to end of the build command in netlify.toml.

[2020-08-02 17:12] #241 closed

[2020-08-02 23:15] jtoar commented on #83
@guledali Gonna close this one out for now. We're definitely much closer to a plugin architecture of some kind&mdash;even for things like generators (see https://github.com/redwoodjs/redwood/issues/914, https://github.com/redwoodjs/redwood/pull/828).

[2020-08-02 23:15] #83 closed

[2020-08-02 23:17] jtoar commented on #110
Just to aggregate information: now that [repeater.dev](https://repeater.dev/) is in the works, I'm assuming the cookbook will most likely make use of it?

[2020-08-02 23:19] jtoar commented on #104
@cannikin Does our twitter bade in the top right count?

[2020-08-02 23:20] jtoar commented on #94
Another chance to showcase [repeater.dev](repeater.dev)? #110

[2020-08-03 01:04] dthyresson commented on #110
It's important to remember that Netlify functions run for [10 seconds max](https://docs.netlify.com/functions/overview/#default-deployment-options) and Vercel's free plan is also [10 seconds](https://vercel.com/blog/customizing-serverless-functions) -- note: Vercel has 60s (Pro), 600s (Business), or 900s (Enterprise) and Netlify Enterprise can up that limit, too.

That means that a function schedu

[2020-08-03 16:00] cannikin commented on #104
This came out of a random meeting with the core team and we were throwing out ideas. @mojombo mentioned some kind of call out for "Follow us on Twitter", more prominent than the icon at the upper right, so I added this issue, then forgot about it. 😬

[2020-08-03 16:07] cannikin commented on #94
I thought this particular recipe should have the fewest number of external dependencies possible, ideally just the external mail service. I was planning on a SendGrid integration that's triggered by a custom Service (not backed by the database). As mentioned in the description that service would call the `logs` service (which *is* backed by the database) and would showcase one service using anothe

[2020-08-03 17:47] jtoar commented on #94
That sounds great, excited to add a bona fide example of a service using a service.

[2020-08-03 17:49] cannikin commented on #110
I've thought about this functionality on repeater.dev, but as a phase 2+ kind of thing. For right now I'm concentrating on calling a URL and recording the response. Being able to safely execute someone else's code is a whole universe of pain I'm not mentally prepared for yet. 😅

[2020-08-03 17:53] #135 closed

[2020-08-04 04:12] thedavidprice opened #278 "Add Meetup Video playlist (of 2 videos) to Website"
But where?
- create a new secondary below Videos/Meetups?
- Add to News?

https://www.youtube.com/playlist?list=PL1HNO86XPhd0Gb_tfA7v7QX08pHjCI_WA

[2020-08-06 16:24] #253 closed

[2020-08-06 19:21] dthyresson commented on #269
Also, in the Tutorial.md:

`binaryTargets = env("BINARY_TARGET")` => `binaryTargets = "native"` as this is what v0.15.3 installs.

[code]

[2020-08-06 19:57] dthyresson opened #282 "Tutorial: Final ContactForm.js Page missing "loading""
In the tutorial, the section that shows the final ContactForm.js is

[code]

Note that `loading` is not specified on `<Submit>Save</Submit>` and VSCode will display a warning.

![Screen Shot 2020-08-06 at 15 56 50](https://user-images.githubusercontent.com/1051633/89576593-7ce06580-d7fd-11ea-91ab-7183a0b0d077.png)

Can change to

`<Submit disabled={loading}>Save</Submit>`

per the prior tutorial s

[2020-08-06 20:22] dthyresson opened #283 "Tutorial: When RBAC is available, update Auth section"
The current Auth section in the Tutorial the walks through Netlify Identity setup has the folowing example for `auth.js`.

Take a look at the newly created api/src/lib/auth.js (usage comments omitted):

[code]

This section will need to be updated with the final `auth.js` that includes role support in `requireAuth`.

[2020-08-09 17:09] #254 closed

[2020-08-10 18:17] #260 closed

[2020-08-11 12:30] alvincrespo opened #288 "Redirect not working as expected for Tutorial - Part 4"
I was running through part 4 of the tutorial, adding authentication, and ran into an issue where redirecting from /posts didn't actually render anything on the home route. I needed to reload the page.

**Recording**

![redwood-auth-redirect](https://user-images.githubusercontent.com/151311/89897167-9cd0aa00-dbac-11ea-8f96-23c892f9f8c5.gif)

**Environment**

[code]

**package.json (web)**

[code]

[2020-08-11 16:27] cannikin commented on #282
D'oh, yeah that should be there, we specifically tell the user to add that `disabled` attribute, I must have just screenshotted an old version or something:

![image](https://user-images.githubusercontent.com/300/89923048-d0173700-dbb4-11ea-86fa-5617cea1da7e.png)

[2020-08-11 16:55] thedavidprice commented on #288
Thanks again @alvincrespo

I haven't seen this before and definitely curious about what's getting stuck. And also I haven't noticed the URL query `?redirectTo=/posts` before -- seems like something changed recently.

@jtoar have you seen something like this before? I know there was a Forum topic asking about this, but I believe it was someone trying to manually set logic for `unauthorized` and the

[2020-08-12 07:22] peterp commented on #288
We added the `redirectTo` part over here: https://github.com/redwoodjs/redwood/pull/876, I can't imagine why this would be causing this error. I'll start looking into this.

[2020-08-12 07:40] peterp commented on #288
I've reverted the `redirectTo` change and I'm still seeing the problem - I'll keep investigating.

[2020-08-12 07:58] peterp commented on #288
Reverting this PR resolves the issue: https://github.com/redwoodjs/redwood/pull/836/files

[2020-08-12 09:17] #288 closed

[2020-08-12 19:37] dthyresson commented on #228
Performed the search for "beforeQuery" and was able to select the "Cells" page and view.

Looks to be fixed.

[2020-08-12 20:47] Tobbe commented on #228
Yeah, it doesn't seem to be finding that PR branch anymore 👍

[2020-08-12 20:47] #228 closed

[2020-08-18 18:59] cannikin opened #298 "Tutorial: Update deployment section for deploy generators"
https://github.com/redwoodjs/redwood/issues/968

[2020-08-19 00:48] #263 closed

[2020-08-19 00:50] thedavidprice commented on #243
This is working correctly as of quick tests today.

🎉

[2020-08-19 00:50] #243 closed

[2020-08-19 02:39] #269 closed

[2020-08-20 11:07] dthyresson commented on #283
PR https://github.com/redwoodjs/redwoodjs.com/pull/305 resolves this issue.

[2020-08-20 11:20] dthyresson opened #306 "Cookbook: Commonly Used & Helpful Tools When Developing in RW"
Sometimes -- just like RW ships with recommended VSCode extensions - it can be helpful to share with developers the "tools of the trade so-to-speak. Often times it is hard to keep track of teh latest IDEs, apps, SDKs etc that can improve teh RW developer experience.

So, let's make a list.

** Note mine is OSX heavy.

## What tools do you use to build RW apps?

### IDE
- [VSCode](https://code.visu

[2020-08-20 11:32] dthyresson opened #307 "Enhance Documentation of Cells"
While the [Cell tutorial](https://redwoodjs.com/tutorial/cells) is quite good, as @peterp noted in:

https://community.redwoodjs.com/t/can-i-use-a-different-value-in-the-component-cell-so-that-it-is-not-used-in-the-request-but-used-in-success/1075/6

The Discourse forums latest have had a number of question related to cells. Some are more React-related, but others show that a more in-depth explana

[2020-08-20 12:23] dthyresson commented on #201
In other projects, I have used [favicons-webpack-plugin](https://github.com/jantimon/favicons-webpack-plugin):

https://github.com/jantimon/favicons-webpack-plugin

This could help not only redwoojs.com but perhaps RW web too?

[code]

Outputs

[code]

[2020-08-20 12:26] dthyresson commented on #307
Also see: https://github.com/redwoodjs/redwoodjs.com/pull/202

[2020-08-20 17:46] #283 closed

[2020-08-20 21:36] cannikin commented on #201
Geez that's a lot of link/meta! Do you just include a 1024px PNG and it takes it from there?

[2020-08-20 21:38] dthyresson commented on #201
Correct, you provide one logo and then there are options to generate the various favicon variants as declared in: https://github.com/itgalaxy/favicons#usage

[2020-08-20 22:14] jtoar commented on #307
@dthyresson Thanks for this! The plan is to merge #202 as soon as possible and use subsequent PRs to enhance it (so I'm going to unlink #202 to prevent it from closing this issue). Let's use this issue to track those enhancements. I'll add to what you said:

- [ ] `useQuery`&mdash;Assure users that this is still an option. Possibly make a "But I don't want to use Cells section".
- [ ] Suspense&mda

[2020-08-20 23:53] jtoar opened #309 "Enhance Documentation of Environment Variables"
Some thoughts of how we can improve the Environment Variables doc following the merge of #229:

- [ ] Should we consider adding documentation for the providers we're tightly integrated with? We should probably at least link to appropriate sections.
- [ ] Document @dthyresson's awesome netlify env vars plugin.
- [ ] The examples could always be less contrived, especially the `seed.js` example.

I'l

[2020-08-21 01:22] cannikin commented on #201
HMMMM okay lemmie look into this, I do like the idea of not having to worry about the eleventybillion ones that Apple wants.

[2020-08-22 18:33] dthyresson opened #318 "Tutorial: Save Contact could demo use of Flash message instead of Alert"
Now that the Redwood web package has a Flash and message, the Contact page could make use of this instead of the alert method to thank the user for their submission and showcase that component.

Some changes needed:

[code]

[code]

[2020-08-23 17:49] peterp opened #323 "Allow users to set a custom config for Storybook"

[2020-08-23 17:49] #323 closed

[2020-08-25 01:08] dthyresson opened #326 "Docs - Authentication useAuth hook section missing userMetadata"
The section that notes what is available on the `useAuth` hook is missing the `userMetadata`, see: https://github.com/redwoodjs/redwoodjs.com/blob/main/docs/authentication.md#api.

This will in the case of Auth0 a call to

[code]

See: https://auth0.com/docs/api/authentication#get-user-info

This can contain the full user profile info -- but does make an api call.

The user's email and picture fro

[2020-08-25 06:18] #326 closed

[2020-08-25 06:22] peterp commented on #309
Another thing to consider is that if it's difficult to explain how our env vars work then we should consider simplifying the implementation.

[2020-08-25 16:03] thedavidprice commented on #309
@peterp This would be good to explore further. We have:
- multiple possible env files (.env, .env.defaults, .env.examples)
- that live in different places (.env.defaults in version control but .env ignored)
- with different config requirements per Side
- that need to be managed across a lifecycle (from local dev to production deploy)

Lots of possible trip-ups along the way.

[2020-08-25 16:50] peterp commented on #309
I'm looking over the docs and they're really great, but the section called `Where Does Redwood Load My Environment Variables?` is a bit of an implementation detail and I not super relevant to users IMHO.

We could remove this from the `.env.defaults` file:
https://github.com/redwoodjs/create-redwood-app/blob/2d8a54e8e56106485cf60c3b1cee058f76a5c32e/.env.defaults#L9-L10
And set it programatically i

[2020-08-25 20:43] jtoar commented on #309
@peterp Got a new PR over here (https://github.com/redwoodjs/redwoodjs.com/pull/329) with the first change (removing `Where Does Redwood Load My Environment Variables?`). I don't have an opinion on the seeding stuff. Over on issue 797, on the redwoodjs/redwood repo (https://github.com/redwoodjs/redwood/issues/797), we kind of talked about this and both gave thumbs up to having a separate `.env`. B

[2020-08-26 00:07] dthyresson commented on #318
I added but noticed this may be a dupe of Issue #204 https://github.com/redwoodjs/redwoodjs.com/issues/204

[2020-08-26 00:55] thedavidprice commented on #298
we did this. yay, us!

[2020-08-26 00:55] #298 closed

[2020-08-29 12:57] benjaminsehl commented on #111
Oh this is something I just figured out in a project I made yesterday. Would love to contribute. I can try to write something for this over the next few weeks if helpful. Tailwind, Emotion, and CSS Modules should be quite easy. I've also been playing around with Chakra UI in Redwood, which is quite cool, but isn’t *super* straight forward if you want to use the baked in Redwood components like (li

[2020-08-31 20:25] cannikin commented on #111
@benjaminsehl Yes please! We actually just added a generator for hooking up Tailwind `yarn rw g util tailwind` so that section will be very easy. :) We'd love to get generators for the others as well.

[2020-09-02 04:27] thedavidprice commented on #239
Should include something about this PR "support passing coercion functions to form fields" https://github.com/redwoodjs/redwood/pull/973

[2020-09-02 18:36] thedavidprice commented on #239
@forresthayes Based on your PR [support passing coercion functions to form fields](https://github.com/redwoodjs/redwood/pull/973), we need to update the Forms doc with how-to info for this capability. Could you reply with a comment here including a brief explanation and possibly an example use?

[2020-09-02 21:45] forresthayes commented on #239
My PR changes the `dataType` prop name to `transformValue`.

The original behavior is still supported, but now you can also pass a function to coerce or transform the input however you want.

For example, you might enable a user to enter a long number separated into groups with commas:

[code]

[2020-09-03 18:16] benjaminsehl commented on #111
Yes I saw that! Hadn't read the docs recently, so I had literally just finished building an app where I found that original post you had linked to, completed it, and then refactored once I found the updated doc. But sounds great, I'll start working on a doc this weekend.

[2020-09-04 00:33] thedavidprice commented on #111
@benjaminsehl sounds great! I've assigned this issue to you. I encourage you to open a draft PR sooner than later even if just with outline stubs.

And because doc writing can become never-ending, don't hesitate to turn this into multiple steps if needed. We'll merge sections when they're ready one at a time if that works best.

[2020-09-04 00:47] thedavidprice opened #339 "Create a Quick Start doc"
Continues conversation from https://github.com/redwoodjs/redwood/pull/1060#issuecomment-686835122

- Remove content from https://redwoodjs.com/docs/introduction#quickstart
- ...and create a new Quick Start doc that would go directly below "Introduction" in left Nav
- Add link in main README.md to the new Quick Start doc within the same callout as the **Tutorial** at the top of the page

We should

[2020-09-04 09:03] peterp opened #340 "Add a supported node version, browsers, and JS/ TS language features"
I would love to let people know what we're doing with babel under the hood, something like create react app's page would be a good goal: https://create-react-app.dev/docs/supported-browsers-features/

[2020-09-05 21:14] thedavidprice commented on #278
shipped!

[2020-09-05 21:14] #278 closed

[2020-09-06 18:59] forresthayes commented on #318
Hey! Just a heads up, I've started working on this issue 😀

[2020-09-06 21:37] cannikin commented on #318
Roger that, thanks!

[2020-09-07 11:47] dthyresson opened #345 "Cookbook: How to use Auth0 and RedwoodJS (and many flavors)"
Auth0 can be confusing at first, but it provides many options for authentication, RBAC, passwordless, user profile management, and more.

There are some quirks for setup, but also some better practices.

Auth0 concepts to cover:

* Rules
* Hooks
* Authentication vs Management API and clients
* Public vs Private/Namespaces Claims
* App and UserMetadata
* Passwordless
* Social Auth
* Tenants
* Forma

[2020-09-08 13:35] dthyresson opened #346 "Cookbook - Using Supabase for a Username/Password Auth solution"
Release v17 added Supabase support and v18 will include signup as well.

A cookbook would explain how to:

* setup Supabase
* use their Postgres database with Prisma
* Use Supabase auth client
* Login and Signup using their auth service
* Use their api client to fetch/manage users

Note: Using Supabase auth *does not* create a User table. One would still need to have a "UserProfile" or "UserRole"

[2020-09-08 13:43] dthyresson opened #347 "Docs - Authentication - Document Supabase Auth Client"
V17 adds Supabase login auth support.

Need a section to document its setup and use.

[2020-09-08 14:04] dthyresson opened #348 "Docs - Authentication - Document the AuthenticationProvider signup support for each AuthClient"
v18 will support signup() for Auth0, Netlify Identity, GoTrue & Supabase and pass through as a login to Magic and Firebase.

We will need to add documentation to explain how to use `signup()` from the `useAuth()` hook for those that support and also explain those that pass along as a login.

Important to keep in mind the Firebase issue where currently only GoogleAuth is supported and that future r

[2020-09-08 18:17] cannikin opened #350 "Add call to action on post-sticker page"
Get users to leave star and/or follow on twitter on the sticker "thank you" page.

[2020-09-09 16:25] #347 closed

[2020-09-09 16:25] #348 closed

[2020-09-10 16:37] dthyresson opened #356 "Cookbook - RBAC: Roles from a Database section to returns wrong value"
Need to check the `Roles from a Database` section:

[code]

I think it needs to be:

[code]

or

[code]

as in.

[code]

[2020-09-10 16:38] dthyresson opened #357 "Cookbook - RBAC: Roles From Database Returns User Incorrectly"
Need to check the `Roles from a Database` section:

[code]

I think it needs to be:

[code]

or

[code]

as in.

[code]

[2020-09-11 03:04] thedavidprice commented on #239
@forresthayes thanks! That's exactly what we need.

@jtoar I moved this to "in progress" on board as a reminder for us to possibly discuss tomorrow.

[2020-09-11 03:06] thedavidprice commented on #252
I think this would be a perfect fit in the Quick Start guide #339

[2020-09-11 05:12] peterp opened #358 "Steal "Built by a bunch of lovely people like <x>" feature from preact.com"
![image](https://user-images.githubusercontent.com/44849/92864913-f8859180-f3fd-11ea-8b90-b138cb342b32.png)

- [ ] Create array of all contributor names
- [ ] Randomly select a person and display it in the footer.

[2020-09-11 16:19] thedavidprice commented on #358
Great idea! 🚀

GH API would make this easy enough. We can also pull from the `.all-contributorsrc` file in Framework, which is an aggregated list of the three main repos.

[2020-09-16 13:29] dthyresson opened #362 "Cookbook: Turn off the API build process - Should `netlify-plugin-prisma-provider` be removed?"
In https://redwoodjs.com/cookbook/disable-api-database

[code]

Since just above, have removed the API

[code]

Might you now also want to remove the `plugin`?

[code]

As well?

[2020-09-16 13:36] peterp commented on #362
I guess this is important if Netlify complains that it cannot find any functions?

Otherwise using `yarn rw build web` should be ok.

[2020-09-16 14:17] dthyresson opened #363 "Docs - Build Section - Steps on Netlify missing note to install `zip-it-and-ship-it`"
See: https://redwoodjs.com/docs/builds

[code]

Needs to include a note that the `zip-it-and-ship-it` package needs to be installed as a dev dependency.

And maybe include a link to the `AWS Serverless Deploy` for some more related info: https://redwoodjs.com/docs/deploy#aws-serverless-deploy.

The `yarn rw generate deploy aws_serverless` does install it as a api dev dependency:

[code]

[2020-09-17 16:04] cannikin commented on #362
Done! https://github.com/redwoodjs/redwoodjs.com/commit/59ba9016b805a46f0e25176ed32397ab11923a42

[2020-09-17 16:04] #362 closed

[2020-09-18 04:17] kimadeline opened #366 "Docs - Deploy: Two or three deploy targets?"
https://redwoodjs.com/docs/deploy:

Almost got me there ✌️

[2020-09-18 18:26] cannikin opened #370 "Add GH Stars badge in header"
Show how many stars the project has

[2020-09-18 18:27] cannikin opened #371 "Promote contributors more"
Maybe it gets its own page in the left nav, rather than being inside Docs?

[2020-09-18 18:28] #366 closed

[2020-09-19 18:08] #204 closed

[2020-09-19 18:08] #318 closed

[2020-09-19 22:07] forresthayes opened #374 "Search results for "typescript" display but fail to load (404)"
The redwoodjs.com search results for `typescript` point to urls like `https://redwoodjs.com/docs/typescript.html#web` while the typescript docs are actually located at `type-script` with a dash: `https://redwoodjs.com/docs/type-script.html#web`

This issue was originally patched for the main doc page with a redirect for `https://redwoodjs.com/docs/typescript`, but a PR I proposed might resolve thi

[2020-09-20 20:24] guledali opened #375 "Cookbook: pagination"
![redwood-pagination](https://user-images.githubusercontent.com/20647282/93721363-fa82e980-fb8f-11ea-821a-4e92abdfe136.png)

[2020-09-23 16:34] cannikin opened #379 "Cookbook: "Other" database providers"
We've seen people connect to:

* Fauna DB: https://fauna.com/blog/building-a-minimum-viable-stack-with-redwoodjs-and-faunadb
* Firebase: (coming soon)
* Azure: https://community.redwoodjs.com/t/tutorial-using-an-azure-postgresql-db-with-redwood/1209

We should at least collect links to these writeups for others looking to connect to something other than SQLite, MySQL and Postgres.

[2020-09-23 19:09] dthyresson commented on #379
You could add Supabase here for a Cookbook as well. Note: they have added that as one of their Hacktoberfest items

https://community.redwoodjs.com/t/supabase-redwood-experiments/1088/18

and

https://github.com/supabase/supabase/issues/150

[2020-09-23 22:48] #370 closed

[2020-09-26 16:41] thedavidprice opened #380 "Docs: Add the "deploy" command to CLI Docs"
Need to add to documentation:

[code]

[2020-10-01 23:53] thedavidprice opened #390 "[Docs v0.20.0] Add Setup Command, Deprecate Util Command"
See https://github.com/redwoodjs/redwood/pull/1234

- Adds new Setup Command
    - moves Tailwind setup to `setup tailwind`
    - adds i18n setup `setup i18n`
- `rw g util tailwind` works but is now deprecated.
    - add warning: deprecated
    - add link to Setup command section

[2020-10-03 19:42] thedavidprice opened #393 "We ❤️ #Hacktoberfest: Here's How to Contribute to Redwood"
Welcome! We are excited you're interested in contributing to Redwood for #Hacktoberfest You'll be in good company with over 250+ [other project contributors](https://github.com/redwoodjs/redwood#contributors) 🚀

### Recorded walk-through and documentation
I covered all these topics at the recent Contributing Workshop. For the full details, [see this post on the RedwoodJS Forums](https://community.

[2020-10-03 20:04] simarpreetsingh-019 commented on #371
Can you define it a bit more so as to understand the issue?

[2020-10-04 04:51] forresthayes commented on #374
@cannikin In case you won't be notified from a closed PR conversation, I replied at https://github.com/redwoodjs/redwoodjs.com/pull/337#issuecomment-702281863

Sorry for the mix up

[2020-10-04 06:28] galanggg commented on #380
Hello, how i can help with this one ?

[2020-10-04 15:57] thedavidprice commented on #374
@forresthayes This explanation is really helpful. Makes a lot of sense and is a clear problem.

I 100% think we should apply this fix in a new PR:
https://github.com/redwoodjs/redwoodjs.com/pull/337/files

- [ ] TO-DO: each of these existing pages will need a redirect from current (below) to new slug
- https://redwoodjs.com/docs/type-script (note: already existing redirect that will need to be cha

[2020-10-04 16:00] amorriscode opened #395 "Contributing page"
This issue is meant for collaborating on a new `/contributing` page. We already have [docs/contributing](https://redwoodjs.com/docs/contributing) but it would be nice to see an entire **Contributing** section on the site as there is a lot to potentially cover.

There is a lot here but I think most of it could be put together fairly quickly and iterated over time. Still, it's just a rough draft. Lo

[2020-10-04 21:39] forresthayes commented on #380
@galanggg

Hi! My [pull request](#383 ) is already under review for this issue.

There are a lot of other great first issues available if you're interested in tackling some of those!

[2020-10-05 00:40] thedavidprice commented on #380
Hi @galanggg thanks so much for offering to help! It would be great to have you as a contributor.

If you haven't seen it yet, this Issue has a lot of suggestions to help with getting started: https://github.com/redwoodjs/redwoodjs.com/issues/393

And don't hesitate to ask if there's anything we can do to get you going.

[2020-10-05 03:50] thedavidprice commented on #371
Hi @simarpreetsingh-019 We'd be grateful to have your help! Thank you in advance.

Please take a look at the info below and confirm if you'd like to take this on. We'll assign it to you if so.

### Contributor Getting Started Info
If you haven't already, please do take a look at this information about getting started as a Redwood contributor: https://github.com/redwoodjs/redwoodjs.com/issues/393

[2020-10-05 04:05] galanggg commented on #380
thanks for the information! @forresthayes

[2020-10-05 04:08] galanggg commented on #380
Hello, I'm also happy if I can help here. and, I'm still looking at the current issues @thedavidprice

[2020-10-05 04:09] galanggg commented on #380
Hello, I'm also happy if I can help here. and, I'm still looking at the current issues @thedavidprice

[2020-10-05 06:46] thedavidprice opened #397 "[Tutorial] Form Email field: on error does not display error message"
Reference https://github.com/thedavidprice/redwood-tutorial-test/issues/10

Actual display is:
<img width="346" alt="Screen Shot 2020-10-04 at 11 42 29 PM" src="https://user-images.githubusercontent.com/2951/95047624-45762400-069b-11eb-9a9c-c354c0ebc9a4.png">

Instead of "is not formatted like an email address" as shown in this image:
https://user-images.githubusercontent.com/300/80259553-c46e2780

[2020-10-05 07:37] lumenCodes commented on #390
Hi @thedavidprice I am interested in this issue.

I am a beginner and I would like to know if this is same as https://github.com/redwoodjs/redwood/pull/1234

Is it just to change the files

[2020-10-05 08:00] thedavidprice commented on #390
Hi @lumenCodes Welcome to the Redwood Community! If you haven't read it yet, please make sure you take a look at https://github.com/redwoodjs/redwoodjs.com/issues/393

---

This is a great issue to start with. Our CLI commands were updated via this PR merged in what we call our Framework Repo: redwoodjs/redwood#1234

Due to this code change, we want to make the changes I mention above to this docu

[2020-10-05 11:06] lumenCodes commented on #390
Yes it does. Thank you.
I will reach out if I have any problem concerning this....

[2020-10-05 15:36] #380 closed

[2020-10-05 15:47] cannikin commented on #371
Sounds good to me!

[2020-10-05 16:01] cannikin commented on #397
Hmm, is this related to the Apollo 3 update? The object structure of a GraphQL error is pretty deeply nested, I'm wondering if it changed? https://github.com/redwoodjs/redwood/blob/main/packages/forms/src/index.js#L105-L119

[2020-10-05 16:16] cannikin commented on #201
Closed with 57dc0ed

[2020-10-05 16:16] #201 closed

[2020-10-05 17:11] thedavidprice commented on #395
@amorriscode FYI I have this in my queue for feedback. Just not sure if it will be today.

[2020-10-07 17:54] cannikin opened #402 "Tutorial: Several sections that used to be separate got merged into one"
I found two separate instances of sections getting merged together:

* Getting Dynamic
* Side Quest: How Redwood Works with Data
* Routing Params

All got merged into **Getting Dynamic**.

* Saving Data
* Administration
* Deployment
* Authentication

All got merged into **Saving Data**

They all still have `##` levels as headers, and `build.js` still says to break on heading levels `[1, 2]` so not

[2020-10-07 18:18] forresthayes commented on #402
@cannikin
I'm looking into it. Could this be related? https://github.com/redwoodjs/redwoodjs.com/commit/3cd4d98342c59f48b0518c2e9859b4879f2c8c53

[2020-10-07 18:19] cannikin commented on #402
That's my guess... I found the PR and added a link in the first comment. @Tobbe any idea if that would be causing this?

[2020-10-07 18:24] cannikin commented on #402
Yep, I reverted that commit locally and the sections are back. We definitely want this functionality though, we'll have to dig in and figure out what's blowing up that logic... it looks sound to me.

Maybe the tutorial has a syntax error where there's a missing ``` which would close a code block?

[2020-10-07 18:40] cannikin opened #403 "Tutorial: Link to "forms" section of the tutorial is busted"
![image](https://user-images.githubusercontent.com/300/95373460-e2021700-0891-11eb-8811-37565d3de329.png)

https://redwoodjs.com/tutorial/everyone-s-favorite-thing-to-build-forms

@forresthayes I feel like there was another PR recently that dealt with something like this...something about paramCase?

[2020-10-07 18:42] cannikin commented on #402
Oh geez the left nav is all over the place...I just did a deploy with a couple small text changes to the tutorial and now different sections are grouped together!

I'm going to revert that commit until we can figure that out...the tutorial working is our #1 priority!

[2020-10-07 18:43] Tobbe commented on #402
Sorry for causing all the trouble. I'll see if I can figure out why it's breaking

[2020-10-07 18:45] cannikin commented on #402
No problem @Tobbe, it looked good to me too, I have no idea why it's freaking out! My guess is the tutorial itself has an extra something, or missing something, that's breaking it.

[2020-10-07 18:46] cannikin commented on #403
This was was actually a symptom of #402—I did a deploy which changed the "compressed" sections and now the forms page was one of those, so there was no unique URL to go to.

[2020-10-07 18:46] #403 closed

[2020-10-07 19:31] Tobbe commented on #402
It's not the cause of this problem, but looking at the tutorial I found this

[code]

That's something my regexp wouldn't handle since it expects code blocks to start at the start of the line (`^`)
On the other hand, if that code block contained a `#` it also wouldn't be detected as a heading to split a page at, so... don't worry about it?

[2020-10-07 19:47] Tobbe commented on #402
Aha!

It's when you have a code block like this that it breaks

[code]

My regexp doesn't handle the syntax for adding line highlights

[2020-10-07 19:50] cannikin commented on #402
Just had a thought as I was doing something else: that regex has a `\w*` which won't match code blocks that have line number highlight hints:

[code]

[2020-10-07 19:58] Tobbe commented on #402
What about just making the regexp look for lines that start with three backticks? Can you think of any false positives?

[2020-10-07 19:59] cannikin commented on #402
Yeah that should be fine, I'm pretty sure a line starting with those in markdown will always be code!

[2020-10-07 20:00] Tobbe commented on #402
Cool, I'll make a new PR

[2020-10-07 20:40] #402 closed

[2020-10-08 16:52] #374 closed

[2020-10-08 19:22] simarpreetsingh-019 commented on #371
@cannikin @thedavidprice thank you that you haven't assigned this issue to anyone else, as I am a bit late in replying to the task list, was having my exams.
@thedavidprice what if instead of parsing, I just split the contributor's section from the introduction page and show it as a standalone? would that be okay?

And I got some SVG's,  suggest to me which one would be good for using for this sec

[2020-10-08 22:38] thedavidprice commented on #371
^^ Yes, this is probably what I meant to say. "Parse" was likely too technical for my suggestion 😆

Contributors Icon:
I like #3

Roadmap Icon:
That looks good!

---

What do you think @cannikin?

[2020-10-08 22:40] cannikin commented on #371
Yup I like 3 as well! Love the Roadmap icon, too.

![image](https://user-images.githubusercontent.com/300/95520612-8791b500-097c-11eb-8368-7ac84f484b03.png)

[2020-10-11 02:30] #363 closed

[2020-10-11 17:37] dthyresson opened #408 "Cookbook Idea: Example App that Demonstrates redwoodJS with web and api side, but no Prisma or database"
See: https://github.com/dthyresson/redwoodjs-no-db

This is a quick example deployed on Netlify of a RedwoodJS app with `web` and `api` sides that still uses GraphQL, sdl, services and a custom lambda function.

A cookbook entry would build on this repo and provide steps needed (ie, handcode sdl, generate services, delete prisma dir, generate netlify deploy, etc) as well as some common "gotchas" s

[2020-10-12 19:38] thedavidprice commented on #408
Wowza, I somehow thought we already had this somewhere. Definitely need to make this explicit.

Do it!

[2020-10-13 21:50] kevPo commented on #339
@thedavidprice

I submitted a [PR](https://github.com/redwoodjs/redwoodjs.com/pull/414) for the new Quick Start doc. I'm working on another PR to update the main README.md now and I was curious if you had a preference for what the copy should be for the Quick Start callout?

This is what I came up with, but I wanted to make sure to match the tone and language that you all would prefer. Any suggest

[2020-10-13 23:44] ajcwebdev commented on #339
Not David, but I have some thoughts on this and thought I'd share my 2 cents. This is completely my personal opinion and the core team may disagree, but one of the things that I really dislike about a lot of modern open source projects' docs is that I constantly feel like they are trying to sell me the framework.

I understand why this is a trend and from a strategic standpoint it might be the rig

[2020-10-14 03:07] thedavidprice commented on #339
Thanks for getting this going, @kevPo 🚀

### Redwoodjs.com Doc https://github.com/redwoodjs/redwoodjs.com/pull/414
I added a lot of notes and suggestions in an attempt to start with a bit more of a foundation. But definitely not intended to overwhelm. Take the pieces that feel easily actionable to you and run with them. For the pieces (or new + other ideas), could you create a new Issue, something

[2020-10-14 13:28] dthyresson opened #415 "Documentation Idea: Cheatsheets"
Whenever I have to write some r and venture into RStudio, I keep going back to these cheatsheets:

https://rstudio.com/resources/cheatsheets/

For example:

![image](https://user-images.githubusercontent.com/1051633/95994961-e7fe7780-0dfe-11eb-830d-64ad05562577.png)

They even provide templates if you want to contribute your own (and many in the community have):

https://rstudio.com/resources/chea

[2020-10-14 18:00] #397 closed

[2020-10-16 07:52] ajcwebdev commented on #415
I wrote a [community post suggesting a cheat sheet](https://community.redwoodjs.com/t/redwoodjs-cheat-sheet/1051/) back in August, and created a first draft that was organized similarly to the way the docs were structured at the time.

* Web configuration
* API configuration
* Browser target configuration
* CLI Commands
* Form Components
* Redwood Router
* Webpack Configuration

It just uses table

[2020-10-24 00:48] simonmd commented on #379
@dthyresson Also made a nice writeup [here](https://community.redwoodjs.com/t/what-dbs-does-redwood-support/143/14?u=simonmd) on connecting to **Hasura**, which I'm currently following. It would be great to have that included as well. 😃

[2020-10-24 04:01] ajcwebdev commented on #379
I recently updated the awesome-redwood repo and there is a [section for databases](https://github.com/redwoodjs/awesome-redwood#databases). This would be the best place right now to point people if they want to explore this material or add their own content, and it would be a good jumping off point if anyone wants to write a cookbook that encompasses all of them.

[2020-10-24 05:56] #339 closed

[2020-10-24 06:05] #390 closed

[2020-10-27 18:59] cannikin opened #432 "Add call to action to star our repo on the Sticker thank you page"

[2020-10-27 19:09] cannikin opened #433 "Get sticker form entries into AirTable"
I'm pretty certain that Netlify has webhooks on incoming form posts. Let's send those to AirTable and see if we can generate the sticker spreadsheet automatically.

[2020-10-28 03:17] cannikin commented on #433
Closed by c65c50

[2020-11-08 16:35] dthyresson opened #446 "Tutorial - Database Section missing additional binaryTarget needed for v0.20 and Prisma v2.9"
From:

https://community.redwoodjs.com/t/redwoodjs-tutorial-netlify-deployment-unfound-prisma-engine-binary/1414

[code]

---

As part of v0.20 and Prisma 2.9, these Manual Code Modifications are needed for existing apps and thus apply to the instructions for the tutorial as well:

The section in TUTORIAL.md here:

https://github.com/redwoodjs/redwoodjs.com/blob/main/TUTORIAL.md#the-database

Coul

[2020-11-09 17:31] mkhbragg commented on #446
PR: https://github.com/redwoodjs/redwoodjs.com/pull/448

[2020-11-09 17:36] cannikin commented on #446
Prisma is fixing this in 2.11.0: https://github.com/prisma/prisma/issues/4011

[2020-11-09 17:52] #446 closed

[2020-11-09 17:53] cannikin commented on #446
Thanks for the fix @mkhbragg !

[2020-11-09 17:53] cannikin commented on #446
Also: 🚀

[2020-11-10 10:02] brentguf opened #449 "Saving Data > Displaying Server Errors: server error not correctly displayed in email FieldError"
Hi everyone,

I'm at the tutorial's [Saving Data > Displaying Server Errors section](https://redwoodjs.com/tutorial/saving-data#displaying-server-errors).

I'm displaying the server error with FormError, but the error doesn't seem to be of the correct type for the email FieldError. It says 'email undefined' instead of 'is not formatted like an email' like in the tutorial:

![email undefined](https

[2020-11-10 10:44] Tobbe commented on #449
What version of Redwood are you on? Can you please paste the output of `yarn rw info`?

[2020-11-10 10:47] Tobbe commented on #449
It works for me
![image](https://user-images.githubusercontent.com/30793/98664263-6d1b7480-234a-11eb-9c65-87e80276ac8a.png)

[code]

[2020-11-10 10:49] Tobbe commented on #449
You're missing the `formMethods` prop on your form
Try this
[code]

[2020-11-10 11:12] brentguf commented on #449
Not the latest (thought that shouldn't matter given the tutorial is a bit older already).

[code]

[2020-11-10 11:15] brentguf commented on #449
Not the latest:

[code]

[2020-11-10 11:46] lumenCodes commented on #432
Hi @cannikin please is there a way for me to get the link to the thank you page?

[2020-11-10 14:20] dthyresson commented on #432
@lumenCodes If you grab the repo and look at the file that requests stickers:

https://github.com/redwoodjs/redwoodjs.com/blob/eb137ae18812c8a7e1a582f431c9528b08a42107/code/html/stickers.html#L8

You'll see the form is a [Netlify form](https://docs.netlify.com/forms/setup/#html-forms) that on `submit` will [direct to the success page](https://docs.netlify.com/forms/setup/#success-messages) which i

[2020-11-10 14:33] RobertBroersma commented on #432
@dthyresson There's a few more CTA-type thingies in https://statik.ly/categories/content 😉

[2020-11-10 14:54] Tobbe commented on #449
Yeah, that should be fine. I was just hoping/checking you weren't on the latest canary release, and that I had broken something 😅

[2020-11-10 17:18] cannikin commented on #432
Thanks for the assist @dthyresson!

And thanks for taking this issue @lumenCodes! It would be nice if you could star a repo right from that thank you page but it doesn't appear that GitHub lets you do that—all you can do is link over to the repo and hope the person clicks the Star button.

[2020-11-10 17:20] cannikin commented on #449
You could try upgrading to the latest, just run a `yarn rw upgrade` and then have it upgrade packages. There was some funkiness between 0.19.0 and 0.20.0 as we transitioned from Apollo 2 to 3. Let me know if you're still seeing the same behavior after that!

[2020-11-12 07:51] lumenCodes commented on #432
Ok, thanks for the information.

[2020-11-12 09:23] brentguf commented on #449
@cannikin Upgrading to 0.20.0 fixed it! Thanks.

[2020-11-12 09:23] #449 closed

[2020-11-16 07:12] simarpreetsingh-019 commented on #371
@cannikin been a long time, got affected by our novel virus during my exams. so was not able to do it much.

But have been back to work,
i am facing problem, where is the introductory file in docs? and where should i be adding the details? like where is the main source code file like index.html?
I just got confused with the js.

[2020-11-16 19:25] cannikin commented on #371
Hi @simarpreetsingh-019 hope you're doing better!

So the site isn't based on any framework, just good old fashioned HTML. If you're looking for a page it's probably in that same directory structure in the code/html directory, unless it's a generated doc (like ones that starts as Markdown and get turned into HTML). You can find the list of generated pages in the build script here: https://github.c

[2020-11-17 12:04] Thieffen opened #457 "Tutorial: Authentication"
Looks like there is a missing screenshot showing the JWT object

[2020-11-17 22:34] #433 closed

[2020-11-18 17:33] cannikin commented on #457
Hmm, I think we updated the code snippet above that but didn't update the description underneath. I think that code used to be something along the lines of:

[code]

The sentence below should probably read "By default the authentication system will return only the data that the third-party auth handler knows about (that's what's inside the `decoded` argument above)."

[2020-11-19 19:31] thedavidprice opened #459 "Highlight the Redwood Jammie award"
Should go in News for sure.

Maybe even on the home page?

- Awards: https://youtu.be/4xAF3r29GhQ
- Jamsnack: https://youtu.be/EWQJuXlvoiQ
    - re-post videos?

[2020-11-19 19:32] thedavidprice opened #460 "Update News with past Meetup Recording Link"
Missing Sept - Nov.

Also would be good to update the YouTube Videos/Playlists with links to the Forum Recap posts.

[2020-11-20 19:06] dthyresson opened #465 "Documentation: CLI Commands missing information on Storybook"
The CLI command to launch Storybook in missing.

Recently

https://github.com/redwoodjs/redwood/pull/1445

was added to define an `--open` option to `yarn rw storybook` to open the browser with the defined port.

But, the current documentation for CLI commands does not have a Storybook section.

While there may also need to be a separate document to introduce Storybook and how one writes stories f

[2020-11-21 04:49] #465 closed

[2020-11-24 18:24] simarpreetsingh-019 commented on #371
I am sorry, but I think that valuable time has been utilized, but I think it would be good that someone else could be solving this at the moment, it is taking much time from my side to properly understand the framework, although side by side I will be trying to do it, but if there come someone else who could do it before me, would be great and will save your time also.

P.S :  it was an accidental

[2020-11-25 09:15] Tobbe opened #468 "Schema Relations docs needs updating (as of Prisma 2.11.0)"
Now that https://github.com/prisma/prisma/issues/2152 is closed, we need to update https://redwoodjs.com/docs/schema-relations, right? No relations workaround needed anymore, IIUC

[2020-11-25 17:15] cannikin commented on #468
Yes, but I think we also need to update the scaffold generator to actually create a Text/Number field for the foreign ID! We should try to coordinate the changes if we can...

[2020-11-25 17:53] cannikin opened #469 "Tutorial: Update schema creation with native DB types"
Now that Prisma supports proper DB types we should update the tutorial to use TEXT for post body and contact message body.

[2020-11-25 22:38] thedavidprice commented on #460
done via #471

[2020-11-25 22:38] #460 closed

[2020-11-25 22:41] thedavidprice opened #472 "Update Tutorial to reflect changes from `api/prisma` to `api/db`"
As of `v0.21.0`, new projects now use `api/db`. Starting with the https://redwoodjs.com/tutorial/redwood-file-structure section of the Tutorial, we need to update references, images, and code to reflect this change.

[2020-11-26 12:47] lumenCodes commented on #432
Hi, @dthyresson I am really sorry that I can't continue with this issue because my schedule changed and I wouldn't want to hold on to it for a long time.

[2020-11-30 17:52] cannikin commented on #371
@simarpreetsingh-019 It's okay, don't worry about it, I'm sure someone else will pick it up!

[2020-11-30 17:56] cannikin commented on #472
Looks like someone fixed this already?

![image](https://user-images.githubusercontent.com/300/100645973-479edc80-32f2-11eb-8b24-539890822448.png)

[2020-11-30 18:54] Tobbe commented on #472
https://github.com/redwoodjs/redwoodjs.com/pull/473

[2020-12-01 02:56] AsdethPrime commented on #472
I am creating pull requests to fix them as I find them :) that way I feel like I am contributing :)

[2020-12-02 11:23] Tobbe opened #478 "Supabase auth docs needs updating"
With https://github.com/redwoodjs/redwood/pull/1536 merged we need to update the docs https://github.com/redwoodjs/redwoodjs.com/blob/main/docs/authentication.md#supabase

Mainly need to mention the new SUPABASE_JWT_SECRET env var

[2020-12-03 23:06] #472 closed

[2020-12-04 21:00] #432 closed

[2020-12-05 15:40] Tobbe opened #486 "Document new --tests and --stories flags for our generators"
See https://github.com/redwoodjs/redwood/pull/1454 for context

[2020-12-10 22:45] #239 closed

[2021-01-07 22:14] cannikin opened #505 "findOne() -> findUnique()"
As of 2.12.0 Prisma is deprecating `findOne()` in favor of `findUnique()`. We've got a couple instances of `findOne()` in several docs.

[2021-01-08 08:28] 96RadhikaJadhav commented on #505
@cannikin  Can I work on the issue?

[2021-01-08 16:58] thedavidprice commented on #505
@96RadhikaJadhav please do! Thank you for offering. I'm assigning to you now.

- do reach out to @cannikin directly for help and PR review, although others might step in as well
- do **not** change the Tutorial — that will first need code changes and then copy updates
- do look through everything in [Docs/](https://github.com/redwoodjs/redwoodjs.com/tree/main/docs)

🚀

[2021-01-08 17:01] #478 closed

[2021-01-08 17:05] thedavidprice commented on #505
Ah, sorry @96RadhikaJadhav I was moving quickly and didn't see #506 is already in progress. 😞

Please feel free to jump on any docs related issues as they come! We're pretty loose with assignments as docs change/move quickly.

I saw another Issue that is also a good first issue. Will `@` you from #486

[2021-01-08 17:11] thedavidprice commented on #486
@96RadhikaJadhav this is also a good first issue, it's just not explained well enough.

- The document (and specific section) that needs updating is here: https://redwoodjs.com/docs/cli-commands#generate-alias-g
- Per PR redwoodjs/redwood#1454 there are 5 Generator commands that needs updating:  Cell, Component, layout, page, service
- For each of these commands, there are two new options (aka fla

[2021-01-08 17:26] cannikin commented on #505
Sorry I missed this request @96RadhikaJadhav, it came in after I went to bed! But like @thedavidprice said, feel free to jump on anything that looks interesting to you, you don't need to wait for us. 🙂

[2021-01-08 19:20] cannikin opened #507 "Add a Troubleshooting doc"
For common fixes to issues like "delete node_modules and reinstall" or "delete yarn.lock and reinstall"

[2021-01-08 21:06] thedavidprice commented on #507
Possible Sections:
- Redwood installation and Setup
- Upgrading
- DB and Prisma

[2021-01-08 21:11] #505 closed

[2021-01-16 23:45] KrisCoulson opened #523 "Redwood Tutorial Part 2: RBAC delete hits 404 on refetchQueries"
In Part 2 of the tutorial in the RBAC sections we are asking followers to delete comments,
[code]

while this does delete the comment. The refetchQuries will fail.
It fails because nowhere in the tutorial do we have the follower have `postId` returned in the `CommentsCell` so this variable `comment.postId` is `undefined`

The fix is to mention adding the `postId` to the `CommentsCell`.

[code]

Ad

[2021-01-18 05:19] thedavidprice commented on #523
Thanks @KrisCoulson --> looping in @cannikin

[2021-01-21 18:54] cannikin commented on #523
Good catch, thanks @KrisCoulson

[2021-01-21 19:21] cannikin commented on #393
@thedavidprice still relevant?

[2021-01-21 19:27] cannikin commented on #523
@forresthayes Did you get this far in part 2? Can you confirm getting a 404 here?

[2021-01-21 19:27] thedavidprice commented on #393
Closing out! Someday I'll get this content moved to a new Contributing page on the site! But not today...

[2021-01-25 17:09] zainfathoni commented on #523
@cannikin I can confirm that I was getting a 404 in that step.

<img width="523" alt="Screenshot 2021-01-26 at 1 06 50 AM" src="https://user-images.githubusercontent.com/6315466/105739188-ccb11580-5f72-11eb-894d-c3f452d9ed2a.png">

And this is how the terminal looks like:

<img width="380" alt="Screenshot 2021-01-26 at 1 08 03 AM" src="https://user-images.githubusercontent.com/6315466/105739309-f2

[2021-01-25 17:29] cannikin commented on #523
Thanks @zainfathoni, that fix looks good (see comment in the PR)!

[2021-01-25 18:05] #523 closed

[2021-01-25 23:20] thedavidprice opened #528 "[v0.24] Replace "<RedwoodProvider>" with "<RedwoodApolloProvider>" in Docs"
_related to https://github.com/redwoodjs/redwood/pull/1639_

For the v0.24 release, we need to update 4 instances of "<RedwoodProvider>" with "<RedwoodApolloProvider>":
https://github.com/redwoodjs/redwoodjs.com/search?q=%3CRedwoodProvider%3E

NOTE: The PR should be merged in sync with the release of v0.24 (ideally not beforehand).

[2021-01-26 00:55] wminshew commented on #468
seems like redwood is on prisma 2.12.1 now but afaict it doesn't appear with foreign key IDs still? (output pasted below). Is it possible to get working with prisma or do I need to still use the hack in the [docs](https://redwoodjs.com/docs/schema-relations)?

also possible my issue is related to using [differing column vs table names](https://github.com/redwoodjs/redwood/issues/1649)

[code]

[2021-01-26 01:00] wminshew commented on #468
ah, I see now from the [release notes](https://github.com/prisma/prisma/releases/2.11.0) I need to set a flag on the prisma client

[code]

[2021-01-26 01:02] cannikin commented on #468
Yes, sorry for the delay, we're in the process of vetting 2.13.0+ so we can include that flag and the foreign key functionality by default. Unfortunately it is going to break a few things (like being able to use different databases in development and production) so we're working through those and getting them documented for release notes and docs for new users.

[2021-01-26 01:04] wminshew commented on #468
all good :) Thank you for the quick response! (and as a follow up everything is working well so far since I added the flag)

[2021-01-26 01:36] wminshew commented on #468
hm one thing I'm noticing is it doesn't seem to work for "many" relationships, just on the singular side (so out of luck for many to many relationships). Do you know if there are any workarounds for this today? I suppose I could augment the hack from the docs, but wondering if there's another option that might make more sense

[2021-01-27 17:28] cannikin commented on #468
Hmmm...have you checked Prisma's issues? This sounds like a limitation on their side...

[2021-01-27 17:36] wminshew commented on #468
Yeah good call I'll explore over there. I've fallen back to the ~old (not-unchecked) style in the meantime for that particular use case. Thanks!

[2021-01-27 19:53] thedavidprice commented on #468
@wminshew FWIW --> Ryan from Prisma covered some of these topics at a Meetup back in September. Couldn't set the foreign key at that time, but you might find his examples helpful. See the video link at the topic as well as list of included topics on this page:
https://community.redwoodjs.com/t/sept-11th-meetup-recap-recording-topics-and-links/1211

[2021-01-27 22:26] wminshew commented on #468
thanks I'll check it out. Unfortunately encountered what I think is a bug in the meantime: https://github.com/prisma/prisma/issues/5294#issuecomment-768354125

might have to switch my whole code base back off `unchecked` unf

[2021-01-27 22:47] thedavidprice commented on #468
Sounds good. But bummer about the potential bug 👎

[2021-01-27 23:30] wminshew opened #532 "cookbook: react custom hook with graphql?"
I feel like there are some use cases where users may want to add their own custom hooks instead of using cells (e.g. for auth, although that use case is already covered). Believe a cookbook for custom hooks "the redwood/graphql way" might be really helpful (if custom hooks is not "the redwood/graphql way" I am interested in hearing that too!)

[2021-01-28 00:35] cannikin commented on #532
Redwood does have a `useQuery` (which cells use internally) that you could use yourself, but if you're going to use `useQuery` then Redwood's belief is that you may as well use a Cell, otherwise you're worrying about loading/error states yourself. But if you *really* want to... :)

I can see this being a helpful cookbook article though, there's currently zero results returned for a search for "use

[2021-02-01 23:36] thedavidprice opened #536 "List of packages in Contributing doc needs updating"
This doc is out of date and needs some TLC: https://redwoodjs.com/docs/contributing
- need to update the number of contributors (ask me for details)
- list of packages needs updating

[2021-02-01 23:59] thedavidprice opened #537 "Cookboook: Switch GraphQL Provider"
@Tobbe let's make sure people can find this awesome article!
https://tlundberg.com/blog/2021-01-18/redwood-switch-to-another-graphql-client/

[2021-02-02 04:13] TawfikYasser commented on #536
Hi @thedavidprice  I want to update the number of contributors.

[2021-02-02 04:44] thedavidprice commented on #536
@TawfikYasser thanks for jumping in to help!

You can update it to say "more than 170 contributors".

Also, can you update the list of packages from here?
https://github.com/redwoodjs/redwood/tree/main/packages

[2021-02-02 04:46] #528 closed

[2021-02-02 04:48] TawfikYasser commented on #536
Okay, I will do that, Please tell me the appropriate file need to be update for `Number of contributors`

For the list of packages I want to update but I can not understand what is needed? Please explain more.

[2021-02-02 05:02] TawfikYasser commented on #536
@thedavidprice  I can’t find the HTML file for docs to update the number of contributors

[2021-02-02 06:54] thedavidprice commented on #536
Sure thing! Here's the doc that needs updating:
https://github.com/redwoodjs/redwoodjs.com/blob/main/docs/contributing.md

- update "As of this writing, there are over 100 individuals"
- the only package that's missing from [here](https://github.com/redwoodjs/redwood/tree/main/packages) is the `api-server`. You can add it with a link. And the description can be "Run a Redwood App using an Express

[2021-02-02 07:02] TawfikYasser commented on #536
Great, Okay

Thanks @thedavidprice I will do that

[2021-02-02 07:16] TawfikYasser commented on #536
I think updates are now done. #538

[2021-02-02 07:59] Tobbe commented on #537
I had someone DM me, basically saying the blog post was "decent", and that it needed a lot of work to be able to use as a cookbook or be part of the docs. And so I got self-conscious and insecure and didn't want to promote it more.

Let me know what areas need more work and I'll see if I can improve it enough to make it cookbook worthy

[2021-02-02 22:41] adriatic opened #539 "File routes.d.ts (part of the basic RW project is ill-formatted"
While this is just an aesthetical problem I think no imperfections are too small for RW. Also, I am not yet comfortable creating a PR (this file could be generated for example). Whoever gets that fixed - please copy me on the fix 😄

![image](https://user-images.githubusercontent.com/2712405/106671402-75b3cd80-657c-11eb-8d6e-d767c3b03b2d.png)

[2021-02-03 00:05] #486 closed

[2021-02-03 08:04] Tobbe commented on #539
You are correct, this file is generated. *.d.ts files are often generated when you build TypeScript projects.

[2021-02-03 15:24] adriatic commented on #539
For my education only: closing this issue without fixing it indicates that there are issues that are too small to be addressed, right?

[2021-02-03 15:36] Tobbe commented on #539
@adriatic No, not at all. Sorry if I was unclear. That file you posted a screenshot of is generated, so there is nothing we can do about the formatting.

[2021-02-03 17:23] adriatic commented on #539
See, I was hoping that you will fix the code that emits this file, so I will see where and how this generation takes place

[2021-02-03 18:13] #536 closed

[2021-02-03 19:46] Tobbe commented on #539
Those files that end with .d.ts are TypeScript Definition files. They are
generated by the TypeScript compiler, tsc. You can read more about those
files here:
https://www.typescriptlang.org/docs/handbook/declaration-files/templates/module-d-ts.html

On Wed, Feb 3, 2021, 18:24 Nikolaj Ivancic <notifications@github.com> wrote:

[2021-02-03 20:26] adriatic commented on #539
Thanks, @Tobbe - I a well aware of all that, however, was not precise enough in my previous message: my assumption was that it is some RW internal tool that generates these files, perhaps based on some RW-supplied template.

I am a big fan of strongly typed languages, started using Pascal in 1970, right after it was created.

[2021-02-03 22:33] Tobbe commented on #539
Thank you @adriatic. I dug in to it more, and you are right. We can fix this. The relevant code is here if you want to take a look https://github.com/redwoodjs/redwood/blob/19bb1b5f39dae7d6863096b560bc3549889a7b9a/packages/core/src/babelPlugins/babel-plugin-redwood-routes-auto-loader.ts#L52-L63

[2021-02-03 22:39] adriatic commented on #539
# :smile:  :smile:  :smile:

[2021-02-04 00:16] Tobbe commented on #539
Now that I knew about it, it bugged me too. So I wrote a PR for it. We'll see what the rest of the RW teams thinks about it :)
https://github.com/redwoodjs/redwood/pull/1724

[2021-02-04 03:07] adriatic commented on #539
I looked at your changes and thought "how creative" - while it looks like a hack, compensated for the inadequacy of the tooling for this code generation 😄

[2021-02-04 19:37] #539 closed

[2021-02-04 22:01] TawfikYasser opened #541 "Tutorial Part 2 *Link* is not working properly"
Hi

## I think that **Tutorial Part 2 Link** here: 👇

![Image-1](https://user-images.githubusercontent.com/54971231/106960577-f6252a80-6744-11eb-9fa3-710de4d8c2c4.png)

## Is not working properly, Because it is going to `404 Page` as follows: 👇

![Image-2](https://user-images.githubusercontent.com/54971231/106960663-13f28f80-6745-11eb-84bb-2d68d71922d2.png)

## And it should redirect to the follow

[2021-02-04 22:05] cannikin commented on #541
Yup that's busted! We would love a PR to fix that link, thanks @TawfikYasser !

[2021-02-04 22:12] TawfikYasser commented on #541
Thank you very much @cannikin
Also I have updated the issue now by some links below Tutorial Part 2, They also not working

I will open A PR to fix them

Thanks again. :)

[2021-02-09 22:02] cannikin opened #547 "Update schema-relations doc to talk about pitfalls of many-to-many relationships"
See: https://github.com/redwoodjs/redwood/pull/1758#issuecomment-776266785

[2021-02-09 23:29] thedavidprice commented on #547
Grabbing this one and on my list for v0.25 tasks. Will use copy from comment linked above (super helpful). And, where applicable, I'll make other edits as well were copy is outdated.

Let me know otherwise if you're already working on this.

[2021-02-12 18:43] dthyresson commented on #469
FYI - I did a quick repo test of Native Types in https://github.com/dthyresson/native-type-scaffold-test

[2021-02-13 04:07] jtoar commented on #537
I started writing one without seeing this issue; @Tobbe let me know if you'd like to take it on instead and/or collaborate. I don't mind doing it, just don't want to steal your thunder! ⚡

[2021-02-13 04:10] jtoar commented on #532
@wminshew I've wanted to write an xstate cookbook for some time now so maybe I could include a section on using hooks there.

[2021-02-13 04:14] jtoar commented on #547
I think this was closed by https://github.com/redwoodjs/redwoodjs.com/pull/557, so closing for now. Let me know if that's not the case.

[2021-02-13 04:14] #547 closed

[2021-02-13 06:07] Tobbe commented on #537
I just read through your WIP. Dude. Your way with words! It's amazing! ❤️ Can you please write a book or something? If you want, please go ahead and finish the write up. If I have the time, I might try to add some of the missing stuff at the end. No promises, and please don't wait for me if you just want to get it done 🙂

[2021-02-13 07:30] jtoar commented on #537
@Tobbe haha you're too kind! But I can definitely write up some tips. I recently watched a [stripe video](https://www.youtube.com/watch?v=a-1fmqD1gwI) on technical writing that I liked a lot; I think it's more instructive to watch someone talk over their changes, so maybe I'll try to do something like that.

[2021-02-13 08:09] jtoar commented on #181
I think #324 addressed this; let me know if not, but I've been able to develop locally without worrying about search since.

[2021-02-13 08:09] #181 closed

[2021-02-13 08:10] #159 closed

[2021-02-13 17:05] wminshew commented on #532
thanks for the video -- is very good! Have done ~regular react hooks before, but I guess one specific thing I'm not sure about with `redwood` / `graphql`:

now that `children` can be passed to `Cells`, can a `Cell` with `children` be used with `useState` or `useContext` in the `Success` component to create a custom hook layer with external data or will only instantiating the ~`state` hook after su

[2021-02-16 06:17] jtoar opened #575 "Next step for the webpack docs"
Having just merged #, here's some thoughts on the next steps we could take for the webpack docs:

- [ ] more advanced examples
  - if you're configuring webpack, it's probably not for a simple reason. but right now most of the examples we have are simple. so it'd be nice to have a more advanced one.
    - note that that more advanced example could be a cookbook and doesn't have to go in this doc
-

[2021-02-16 06:41] jtoar opened #576 "Automation"
As we're approaching v1, we should start thinking more about automation.

The problem with docs is that they're almost always behind. At best they're on time, but they're almost never ahead. (With the Tutorial, Redwood might actually be the exception here!)

I've only skimmed the marketplace, but I don't see that much available in the way of automation. One kind of "automation" I imagine being use

[2021-02-16 06:45] jtoar commented on #576
One thing I've noticed is that some of the links in the nav on the right in some pages don't work. Maybe we could add a Cypress test that checks to see that they're working properly? Not sure if that's overkill, but it's definitely an area that needs some TLC.

[2021-02-16 06:55] jtoar commented on #197
This one's been done for a while!

[2021-02-16 06:55] #197 closed

[2021-02-16 07:20] jtoar commented on #459
@thedavidprice it's in the news section now. Still want to add it to home?

[2021-02-16 07:43] jtoar commented on #211
Made some progress on this in https://github.com/redwoodjs/redwoodjs.com/pull/557 but could still use some more examples for sure.

[2021-02-16 07:48] jtoar commented on #307
#532's definitely in the same spirit here. The more examples we provide of Cells the better I think.

[2021-02-16 20:57] jtoar commented on #111
Notes/links to help you out @benjaminsehl:
- the tailwind setup command is `yarn rw setup tailwind`. note that we include setting up tailwind by hand in the [webpack config docs](https://redwoodjs.com/docs/webpack-configuration#adding-tailwind-css), but don't touch on any kind of tailwind customization, like making your own utility class, etc. something like that could be a good candidate!
- here'

[2021-02-16 21:44] thedavidprice commented on #459
Let's close this one.

I do think there should be a "credibility" section on the home page that includes things like this award, testimonials, and anything else that helps answer the question "why Redwood?". Not sure what those things might be, however, besides GitHub Stars, NPM Downloads, ... ?

[2021-02-16 21:44] #459 closed

[2021-02-17 05:07] thedavidprice commented on #211
Since this issue was created, there have been several improvements:
- Prisma's Relation documentation (with examples) is very helpful
- Redwood's Scaffold Generators are now able to work with most 1-m and n-m relations

@jtoar I'm in favor of closing this one out. If you have specific ideas for ways to improve the current doc, I'd suggest opening a new issue and bullet pointing 'em.

[2021-02-17 05:10] thedavidprice commented on #576
We will need Versioning capability post-v1. As a reference, here's [how Docusaurus2 does it](https://v2.docusaurus.io/docs/versioning).

[2021-02-17 05:16] cannikin commented on #576
I believe the plan is to move all docs to learn.redwoodjs.com so that we can have locale support, and that’s already using Docusaurus 2.

[2021-02-17 05:18] cannikin commented on #576
Hmm the links over there are created based on the titles on the main body so I’m not sure why some would work and others don’t...do you have a specific doc where you’re seeing the issue?

[2021-02-17 06:10] #211 closed

[2021-02-18 14:41] AntonioMeireles commented on #576
while on this - one think that may make sense to add to the radar, in the near future,  is as the project is moving towards being more typescript _aware_ is to start using [typedoc](https://typedoc.org) on the stock rw source tree and then have the generated docs site as companion data (API level) to the main documentation site.

[2021-02-18 17:14] jtoar opened #579 "Improving the nav links in the CLI Commands doc"
Some of the nav links in the [CLI Commands](https://redwoodjs.com/docs/cli-commands) doc clash (most notably #db). Maybe we should make sure all sub-command nav links are prepended with their parent command the way setup is:

https://redwoodjs.com/docs/cli-commands#setup
https://redwoodjs.com/docs/cli-commands#setup-deploy-config
https://redwoodjs.com/docs/cli-commands#setup-auth

So prisma comman

[2021-02-18 17:16] jtoar commented on #576
@cannikin Clicking through titles now and all of them seem to be working great! If I find an example I'll report back. I feel like a title that had apostrophes or some other punctuation mark was buggy, but it's not resurfacing.

Opened an issue about the CLI Commands doc (#579) which does have some clashing links though.

[2021-02-19 19:14] cannikin opened #580 "Add a tweet gallery/slider from people loving Redwood"
Could probably fit like 3 tweets side-by-side on desktop size and it just scrolls over after a few seconds. Maybe just add a Markdown file with a list of links to the tweets we like and use a simple XHR call to pull in the text/author for display on the site?

[2021-02-19 19:15] cannikin opened #581 "Add a Jobs page"
Links to jobs that are looking for RedwoodJS skills.

Any way to automate the list or do we need people to edit a markdown file somewhere to add/remove jobs as they're found?

[2021-02-19 19:17] clairefro commented on #581
Airtable integration?

[2021-02-19 19:18] cannikin commented on #581
Oooo interesting...I've done a couple of those for another site I'm working on. That AirTable is a paid account with several paid users...any idea if you can have a completely open AirTable that lets anyone come edit for free?

[2021-02-19 19:31] clairefro commented on #581
The free tier is very generous for Airtable but yes, restricted for # of people can contribute

A free scalable solution could be to use Google Sheets, populated by a public Google Form .

No matter the cms, data will only be updated on site build unless we do some webhooky things (or cheat and do iframes :D)

[2021-02-19 19:33] jvanbaarsen commented on #581
Would a certain amount of "moderating" make sense anyway?

RE: google form -> Would this still allow people to update typo's they made for their own submission?

[2021-02-19 19:38] clairefro commented on #581
probably not, they'd have to contact i guess. the benefit of the form interface is someone can't accidentally delete all the job posts

Could always make a redwood app that acts as a cms XD

[2021-02-19 20:27] cannikin commented on #581
We should check with folks and see what they were expecting here—is this literally a job board where people post jobs, or we're just linking to existing job posts we find around the internets? @mojombo?

[2021-02-20 19:44] thedavidprice commented on #579
If we haven't had problems already, definitely feels like we'll be running into them with the anchor tag namespace. I like you're proposed structure above.

And also agree this naming structure would clutter up the right nav a bit and also some headers. However, when I'm scrolling through a command with many options (or sub-commands), it's can be hard to know what section I'm in. E.g. the destroy

[2021-02-22 13:24] dthyresson opened #584 "Cookbook: Explain Supabase Permissions and Policies for Row Level Security"
An important feature in Supabase postgres is RLS - row level security.

If RLS policies are not enabled on tables, anon access *may* be possible to row level data, including inserts and deletes.

Since Prisma migrate does not add that policy when creating a table (or even the implicit many-to-many join tables), redwood should document some best practices to adhere to when using Supabase as its pos

[2021-02-22 17:34] cannikin commented on #579
We could update the code that generates the right nav to make sure that every anchor is unique. Right now it just kebab-cases the heading of the section without worrying about what else already exists.

[2021-02-22 19:25] jtoar commented on #579
@cannikin I don't think it's an issue we'll run into too often, but definitely something we could think about. I think what would make parsing for it more of an imperative is if it means we'd have to think about redirects? If so then I'd want to make sure it doesn't happen, 'cause those are a hassle.

[2021-02-22 21:13] adriatic opened #586 "The code for the `BlogPostsCell.js` is syntactically incorrect"
Details:
I am referring to code presented in the [Cells section of the Tutorial I](https://redwoodjs.com/tutorial/cells#our-first-cell), fourth instance of the code listing from the beginning of this section, code which indicates where to replace generator created `blogPosts` with `posts`

![image](https://user-images.githubusercontent.com/2712405/108770447-4a435380-7528-11eb-9d67-18c4b83c48b0.png

[2021-02-22 21:31] #586 closed

[2021-02-22 21:32] cannikin commented on #586
Good catch, thanks! Just pushed a fix. :)

[2021-02-22 21:39] adriatic commented on #586
I have a terrific gift to catch **other people's** mistakes (mine, not so)

[2021-02-23 03:27] jtoar opened #587 "Add more eslint docs"
Came up on the discord recently that Redwood's eslint config was a little hard to find. We could use a cookbook on configuring it, or just have docs that better point to where things are happening. Searching the website, it does bring up the `lint` command, which points to the eslint in the repo, but that's the most we got (go read the source basically).

[2021-02-25 18:16] jtoar opened #592 "Document Private Routes' whileLoading prop"
Noticed this was missing in writing up prerender docs (#590).

[2021-02-25 19:43] cannikin opened #594 "Add prerender to Tutorial part 1"
It's so awesome and everyone will want to use it, let's pre-render it! Before deploy and probably before Auth?

[2021-02-25 23:14] realStandal opened #595 "Conflicting instructions regarding m-n relationships in schema.prisma"
Hello!

I'm working with a freshly generated Redwood project, using `"@redwoodjs/core": "^0.25.1"`. I've only setup a `prisma.schema` and am generating scaffolding to go along with it. I'm using y'alls [documentation on doing relations with the Redwood generator](https://redwoodjs.com/docs/schema-relations#prisma-relations-and-redwoods-generators) and comparing that to [Prisma's docs](https://www.

[2021-02-25 23:33] cannikin commented on #595
Yeah we've updated docs with info about this: https://redwoodjs.com/docs/schema-relations

Unfortunately if you want to scaffold a many-to-many join table you need an `@id` column, but as far as Prisma is concerned you're not allowed to have that and the `@@id` declaration at the same time.

This is because all of Redwood's scaffolding logic depends on having an `id` to look up, edit and delete a

[2021-02-25 23:35] realStandal commented on #595
Updating my schema to use `@@unique` instead of `@@id` worked and surpressed `rw g scaffold`-s error. My schema now looks like:

[code]

[2021-02-25 23:38] realStandal commented on #595
I hit Comment after you'd posted, sorry.

I'm talking about how [this example](https://redwoodjs.com/docs/schema-relations#supported-table-structure) on the docs recommends having both `@id` and `@@id` defined. I'd assume it wouldn't pan out, I don't think it's a big issue `@@unqiue` accomplishes the same thing and makes sure one pallet only ever has one instance of a particular product.

[2021-02-26 18:31] cannikin commented on #595
Ahhh, interesting! I don't think we'd actually tested doing both `@id` and `@@id`... I thought `@@id` was just an index so it wouldn't matter, but maybe it actually tries to impose a primary key on those fields, and since there can only be one primary key...

I'll update the docs to talk about `@@unique` instead of `@@id`!

[2021-02-26 18:39] realStandal commented on #595
Thank you for helping to clear it up! I can make the change and submit a PR if you'd like, think that's within my skill-scope lol

[2021-02-26 19:00] cannikin commented on #595
That would be great, thank you! I'll assign this to you instead! :)

[2021-03-01 17:24] adriatic opened #603 "Confusing description of BlogPostCell.js"
**Context**: "Our first Cell" section in the Tutorial document

The first time through. I replaced the whole content of the `web/src/components/BlogPostsCell/BlogPostsCell.js` with the text from that "image". Recovery from that was anything but easy. It made me try to use LogRocket to debug my way out - luckily I recalled that I lost the beginning of this (BlogPostCell.js) file

![image](https://u

[2021-03-02 17:22] thedavidprice opened #604 "Clarify extending imports in case of Apollo Client and React Hook Forms"
cc @jtoar

Continuing discussion from here: https://github.com/redwoodjs/redwood/issues/1893

Our Forms documentation might be fine as is.

For Apollo Client, we don't have any documentation available to provide information or instructions: what is imported, how to import additional items, etc.. There's a cookbook PR here https://github.com/redwoodjs/redwoodjs.com/pull/563, but that wouldn't be th

[2021-03-02 17:54] thedavidprice commented on #603
Thanks @adriatic Agreed there's room for improvement here. We used to not have the (subtle) highlighting around code snippets, which has definitely been an improvement. It seems we should indicate there's code before/after (as applicable) the displayed section.

Do you have any suggestions on how we could generalize this throughout the Tutorial? My shorthand is to use `...`, which is probably too

[2021-03-02 17:59] dthyresson commented on #603
The tutorial does say right above that content that it applies to the `Success` component:

Maybe simply emphasize that part of the instructions?

[2021-03-02 18:05] thedavidprice commented on #603
Remembering when I first went through the Tutorial and everything was new, it did trip me up a few times to not be able to orient the displayed snippets within the files. No line numbers, double-checking if I was in `BlogPostCell` vs `BlogPostsCell`, not fully grokking all the components included in the Cell itself...

So the emphasis could help, but I think there'd be more value in visual orienta

[2021-03-02 18:13] adriatic commented on #603
I propose an "enhanced" and consistent use of this:

![image](https://user-images.githubusercontent.com/2712405/109693886-2b604500-7b58-11eb-9dcb-832da42d6748.png)

Enhanced means that it would be better to make such comments (both the file path and the indicator that there is some code missing) less "faded", like this:

![image](https://user-images.githubusercontent.com/2712405/109694264-9c076180

[2021-03-03 00:29] #595 closed

[2021-03-03 00:42] #603 closed

[2021-03-03 00:43] cannikin commented on #603
Added `// QUERY, Loading, Empty and Failure definitions...` in that block and a couple more.

[2021-03-03 01:06] adriatic commented on #603
Very quick reaction, thanks @cannikin

[2021-03-03 07:31] jtoar commented on #604
I'll add it here and get this mergeable right now https://github.com/redwoodjs/redwoodjs.com/pull/233; been far too long!

[2021-03-03 09:14] #604 closed

[2021-03-05 20:07] thedavidprice opened #610 "data migrations doc: needs updating to reflect new Prisma Migrate and overall usage"
https://redwoodjs.com/docs/data-migrations

- Quick look and we have the wrong command in "Lifecycle Summary"
- Need to reference new `yarn rw deploy [target]` command — the dataMigrate up command is a built in step
- other improvements possible for overall flow/usage

Lastly, audit the two commands on the CLI Doc (`dataMigrate` and `generate data-migration`) --> are they up to date, linked to eac

[2021-03-06 18:23] ajcwebdev opened #612 "How to handle `migration_lock.toml` when switching from SQLite to Postgresql?"
Right now the tutorial assumes SQLite up until the [database deployment step](https://redwoodjs.com/tutorial/deployment#the-database). At this point we provide a warning that you have to switch to Postgres and stay with that on your local machine, along with a link to the local postgres setup guide.

This guide is really fantastic! Unfortunately it would be more useful to know at the beginning so

[2021-03-06 18:48] cannikin commented on #612
Yeah that Postgres doc needs updating!

We definitely want to keep the tutorial starting with SQLite, it's just too convenient. Asking people to install/setup Postgres before they actually start using Redwood is just too much of a leap, especially for folks that are new to coding and have zero sysadmin experience. They'll leave and never come back. :(

BUT, I'd be all for adding a more in-depth me

[2021-03-06 19:07] ajcwebdev commented on #612
Here's a good link to [Danny's migration guide](https://community.redwoodjs.com/t/upgrading-to-redwoodjs-v0-25-and-prisma-v2-16-db-upgrades-and-project-code-mods/1811) that provides a lot of useful information here, unfortunately this seems to be an issue that goes beyond just upgrading to Redwood v0.25 since I was on v0.26 when this happened, so this is more about the general workflow we've got g

[2021-03-06 19:15] Tobbe commented on #612
I think using a remote DB, even for just doing the tutorial and for general playing around with RW makes a lot of sense. It's super easy to get up and running, no need to install anything. And it leaves you in a great spot for transitioning to a production ready app. It's later, when you need the speed and control of running your own local DB, that's when you should worry about installing postgres

[2021-03-07 12:21] ajcwebdev commented on #612
## [Getting Dynamic with Prisma Migrate, PostgreSQL and Railway](https://redwoodjs.com/tutorial/getting-dynamic)

## Create your first project

![01-](https://dev-to-uploads.s3.amazonaws.com/uploads/articles/qb4q3381cb8w8ek5mrks.png)

### ⌘ + K

![02-](https://dev-to-uploads.s3.amazonaws.com/uploads/articles/jhr9oamt57al7gyew4yc.png)

### Provision PostgreSQL

![03-](https://dev-to-uploads.s3.amaz

[2021-03-07 12:27] ajcwebdev commented on #612
I also rewrote [Part 3 of A First Look at Redwood to follow this exact flow](https://dev.to/ajcwebdev/a-first-look-at-redwood-js-part-3-5ao5)

[2021-03-07 15:55] cannikin commented on #612
hahaha

Okay so even with Railway you have to explain Railway, `schema.prisma` provider, ENV vars, the `.env` file, not checking that file in, internet access required...and if you don't explain it and be like "trust us, just do this," then it becomes the antithesis of everything the tutorial stands for! Oh, and if it takes you longer than 7 days to get through the tutorial, your database disappea

[2021-03-07 16:14] ajcwebdev commented on #612
Yeah I'd be curious to get thoughts from other people in the community about this. I think those are all valid concerns, but I don't think getting away from managing environment variables is possible at this point, and introducing them earlier could actually be beneficial.

I agree the `.env` file is the trickiest part. We've had everyone managing them once they're on the Netlify dashboard but tha

[2021-03-07 17:04] mojombo commented on #612
I think it's helpful to think about the tutorial as part of the Redwood onboarding funnel. You start at the RedwoodJS homepage and if you like what you see, you jump into the tutorial to see how it works. At this point, the relationship with the viewer is very fragile. We're one error, one confusing sentence, one why-do-I-have-to-do-this-complicated-thing away from losing them. We need to get peop

[2021-03-07 17:06] cannikin commented on #612
We want to get people into using *actual* Redwood with as little mental overhead as possible. If you're a seasoned dev sure, ENV and `.env` and a remote database is nothing to you, and doesn't add any mental friction to getting started. But for someone relatively new it's just more clutter in their head *that we can avoid completely*...that's tough to pass up. They'll still have to pay the piper a

[2021-03-07 17:22] ajcwebdev commented on #612
Yeah, I'd recommend at least doing a run through of it and verifying that it still makes sense. I've deployed versions of the tutorial app close to a dozen times by now and it threw me off, for sure, and I believe it threw @pi0neerpat and @agiannelli off as well.

And no worries about the Railway setup, I'm doing a full refactor of the First Look series right now so that's why I'm iterating on a l

[2021-03-07 20:24] ajcwebdev commented on #612
Thanks for the response @mojombo. This is a tricky one since we've really promoted the tutorial we want to make sure it's going to work in as many cases for as many people as possible and I appreciate you all weighing in here. I agree with the trade offs being between getting people as far into the tutorial as they can while still having the full end to end experience.

Something to think about al

[2021-03-07 20:56] Tobbe commented on #612
Ohhhh! Do I see a @jtoar vs @ajcwebdev book fight in the future? 🥊 🤣

[2021-03-07 21:00] ajcwebdev commented on #612
He can take the Apollo section 😆

[2021-03-08 18:43] pi0neerpat commented on #612
+1 for making the new developer on-boarding as simple as possible. I am a bit worried that we are creating two paths, which may lead to other issues.

1. **Postgres-before-deployment**
2. **Postgres-from-the-beginning**

Experienced devs will start to always take `#2`, and attention/focus will not be given to `#1`. New devs may struggle on `#1`, but its not something experienced devs encounter oft

[2021-03-08 18:56] ajcwebdev commented on #612
That's a good point, maybe include a title like "Redwood Tutorial: Expert Mode" or something like that to encourage newer developers to stick with the official tutorial.

I try to run through the actual tutorial every release, so even with this other version I'm working on I'd still devote time to make sure the actual tutorial works well.

I think having two different flows like this can lead to c

[2021-03-08 19:34] ajcwebdev commented on #612
[Here's a link to the demo I did for Async, might be still processing if you click it in the next half hour](https://www.youtube.com/watch?v=R5p3Xdmkiws).

Feel free to check it out and if we decide we don't want to pursue this direction and think it will be confusing to the community then I would be happy to continue working offline with the idea of publishing it in the form of some sort of e-boo

[2021-03-09 03:34] thedavidprice commented on #612
- I 100% vote to keep the tutorial flow **as is**
- I fixed (and merged) the Postgres Doc "Migrations" section here: https://github.com/redwoodjs/redwoodjs.com/pull/616
- ⚠️ SHADOW DB 😈: If you want to use a hosted/cloud DB for dev, it requires **2** hosted DBs. ('Cause Prisma.)
  - See [Prisma v2.17.0 Release Notes](https://github.com/prisma/prisma/releases/tag/2.17.0)
  - "Prisma Migrate now wor

[2021-03-09 03:49] ajcwebdev commented on #612
Thanks David, those docs look great! I'll go ahead and close this issue and if anyone else runs into issues we can point them here.

[2021-03-09 03:49] #612 closed

[2021-03-10 02:26] jtoar opened #617 "RFC: Bring the newsletter into the repo"
After managing the newsletter via Mailchimp, we want to try something else: bringing the newsletter into the repo using [mjml](https://mjml.io/). The wins here are:

- manage it collaboratively
- create our own archive
- eventually move off any campaign manager service

Here's how working on the newsletter might look like using the mjml extension:

![image](https://user-images.githubusercontent.co

[2021-03-10 03:02] jtoar commented on #617
You can find the mjml files used to create the picture in the comment above here: https://github.com/redwoodjs/redwoodjs.com/pull/618

[2021-03-10 20:26] jtoar opened #620 "Newsletter: Issue No. 6"
Issue to discuss the 6th installment of the newsletter. May or may not end up collaborating much here (between this, notion, etc). But here's a place for it if we do. Half the battle is just collecting links!

## Issue No. 6

Shipping: ~April

### Intro

- [ ] what's our update on the v1 RC? do we have to give one? seems like we do?

### Highlights
- [ ] Replaces Flash with react-hot-toast (#1856)

[2021-03-11 02:29] adriatic opened #621 "Copy button in the Tutorial text adds the EOL to the content being copied"
A Picture tells this better:

![image](https://user-images.githubusercontent.com/2712405/110725145-0d908100-81e5-11eb-8557-6a0f786b3e30.png)

Here is the screenshot of pasting the text copied to VSCode internal terminal, running PowerShell shell:

![image](https://user-images.githubusercontent.com/2712405/110725339-6f50eb00-81e5-11eb-8a58-ced31c4dfbbb.png)

Note that the text copied from the tutor

[2021-03-12 00:42] #162 closed

[2021-03-12 19:04] adriatic opened #625 "The summary definition of process used to build Tutorial I is different from the full definition/"
The [Setup](https://github.com/redwoodjs/redwood-tutorial#setup) section of the [Redwood Tutorial App](https://github.com/redwoodjs/redwood-tutorial#redwood-tutorial-app) defines the summary of commands as

[code]

The actual [Tutorial I](https://redwoodjs.com/tutorial/welcome-to-redwood) does not use the `yarn rw prisma db seed` command (consequence of Prisma recent upgrade? Should the file `api/

[2021-03-13 00:48] cannikin commented on #625
So this repo is meant to start you off at the beginning of part 2 if you *haven't* gone through part 1. You get:

* Seeds to pre-fill some blog posts so you can get started on the comments
* CSS to make things a little prettier
* Several tests built out so we can discuss how they work and show an "all green" test suite

It's not meant to be the exact app you build by the end of part 1.

[2021-03-13 00:53] adriatic commented on #625
Makes complete sense; thanks for the additional info (_several tests built out so we can discuss how they work and show an "all green" test suite_)

[2021-03-13 01:05] adriatic opened #626 "Typo in the BlogPostCell.js Success section code (Tutorial I)"
I do not have a Mac computer, so I can only create this issue (instead of a PR)

![image](https://user-images.githubusercontent.com/2712405/111013663-427c0f80-836e-11eb-81d1-fa7733b8077f.png)

[2021-03-13 01:28] adriatic commented on #626
I am amazed about my patience to comb through every detail of the Tutorial I - I am doing that to verify the Tutorial text and also to build exactly the same app as described in the Tutorial, kept [here](https://github.com/adriatic/rw-debugging) as a private copy, which I will then use as a model for my new document [Developing Redwood applications on Windows platform](https://github.com/redwoodjs

[2021-03-13 01:29] #625 closed

[2021-03-13 16:12] adriatic opened #627 "Proposal for more information in Tutorial I"
The component `web/src/components/BlogPostCell/BlogPostCell.js`

<div align="center">
  <img src="https://user-images.githubusercontent.com/2712405/111036080-6893c500-83eb-11eb-9c24-b05aef6f441d.png"> <br>
</div>
<p/>

Is there any significance of using `$`? If so, it should be explained otherwise it would be better to use something else (people that know jQuery would expect this to be a global va

[2021-03-13 16:29] adriatic commented on #626
Found another one: (// web/src/components/BlogPost/BlogPost.js

![image](https://user-images.githubusercontent.com/2712405/111036812-2f5d5400-83ef-11eb-8473-6f73440f0d3f.png)

[2021-03-13 17:52] cannikin commented on #627
This is how GraphQL denotes variables. We say at the beginning of the tutorial that we're not going teach all of the basics of all the technologies we're using (GraphQL, React, databases) but that you can follow along and get the gist of what we're doing.

Notice that the GraphQL section is all one giant multi-line string, so these wouldn't be interpreted as variables even if we *were* using jQuer

[2021-03-13 17:57] adriatic opened #628 "Proposal to improve the Tutorial text"
Hellp, @cannikin

I could create a PR for this - but I do have respect for your text writing skills, so this is just a proposal

![image](https://user-images.githubusercontent.com/2712405/111039336-8cf79d80-83fb-11eb-9623-b690a7ac7e52.png)

[2021-03-13 18:04] cannikin commented on #628
Ahhh good catch. I'd probably change that second sentence to:  "We won't be retrieving records from the database in our Contact form so we won't create a cell."

A PR would be appreciated!

[2021-03-13 20:22] adriatic commented on #628
A great alternative - PR coming up

[2021-03-13 22:58] #628 closed

[2021-03-14 02:41] adriatic opened #630 "Missing the indicator for skipped code"
The missing lines are
[code]

![image](https://user-images.githubusercontent.com/2712405/111055368-344bf300-8443-11eb-9356-fc23caa052f9.png)

**Please note**: trying to make a PR instead I got stuck with the "triplet" following the javascript tag (see below)

|```javascript{3,15,16}
|// web/src/pages/ContactPage/ContactPage.js

(the '|" character inserted in col 1 to prevent this editor from inter

[2021-03-14 15:41] adriatic commented on #627
That is a fair assessment; thanks for a free tip o GraphQL.

[2021-03-14 15:41] #627 closed

[2021-03-15 16:30] cannikin commented on #541
Already mentioned this in the PR, but: these links are meant to link to other parts of the tutorial *when views on redwoodjs.com*. The links will indeed not work when viewed on github. This is the intended behavior.

[2021-03-15 16:30] #541 closed

[2021-03-17 12:27] Tobbe opened #634 "Auth code samples needs to be updated to reflect index.js -> App.js change"
![image](https://user-images.githubusercontent.com/30793/111466960-34d6d900-8724-11eb-86c5-fa73011e641a.png)

The above screenshot is from the Netlify auth setup. It needs to be updated to reflect the new filename (App.js instead of index.js) and also that we're just exporting the component, not rendering it.

Similar changes needs to be done for all auth providers

[2021-03-20 00:26] thedavidprice opened #638 "Document New Routes.js <Set />: add instructions and update Router Doc"
@Tobbe @jtoar @cannikin

Reference https://github.com/redwoodjs/redwood/pull/1898

Some next steps:
- [x] Update https://github.com/redwoodjs/redwoodjs.com/blob/main/docs/router.md
- [x] Create Forum Topic with "how to" example -- link to it from Release Notes
- [x] Discussion: Do we add this to the Tutorial? Or maybe create a Cookbook article instead?

[2021-03-20 01:46] Tobbe commented on #638
Thanks for writing this issue David! I talked briefly with Dom about this, and we both think we should update the tutorial to use `<Set>`. I said I could do that part. Dom agreed to help out with /docs/router.md. We didn't talk about a forum post, but I'll coordinate with him about that.

Unless I hear anything else, I'll move forward with the tutorial updates. Then we'll just leave that PR open u

[2021-03-20 03:21] thedavidprice commented on #638
I like it! If this is added to the Tutorial, maybe we could link to that section from the Release Notes?

Keep me posted. And let me know if I can help.

[2021-03-22 14:12] adriatic opened #640 "DataMigration failure results with the "untidy" error report"
The reason for this failure is not clear to me (I will likely create a separate issue later). The actual failure indication is less than perfect:

![image](https://user-images.githubusercontent.com/2712405/112000492-6cfb6480-8af4-11eb-8600-0a6cd94af577.png)

Screenshot made on [conemu](https://cmder.net/)

[2021-03-22 14:14] adriatic commented on #640
An apology is in order - this issue belongs to https://github.com/redwoodjs/redwood/issues set

[2021-03-22 22:06] #640 closed

[2021-03-25 20:13] #638 closed

[2021-03-25 20:15] thedavidprice opened #645 "Update docs with options for `makeMergedSchema`"
Need to document the `makeMergedSchema` options somewhere (see https://github.com/redwoodjs/redwood/pull/1964)

Suggesting add content to https://redwoodjs.com/docs/graphql.html#the-root-schema

[2021-03-27 04:21] dthyresson opened #646 "Docs - Logger - Add LogDNA Transport Example"
There are examples for Datadog and LogFlare, but need an example for LogDNA as well: https://www.logdna.com/

See: https://github.com/logdna/pino-logdna#api

[code]

[2021-03-28 18:45] clairefro opened #648 "Algolia search Tutorial links broken"
#### Problem
Algolia search results for "Tutorial" items are pointing to the old (non-existent) tutorial `.html` pages, causing a "Page not Found" error as tutorial content is no longer hosted on .com since moving to "learn" repo. Netlify redirects are not picking up on the redirect because of the `.html` suffix from Algolia indexing

#### Possible solutions
1. Remove tutorial content from Algolia

[2021-03-28 19:56] clairefro commented on #648
EDIT: The `.html` redirects should exist either way, in case users have bookmarked tutorial pages found via Algolia (as pointed out by @Tobbe)

[2021-03-28 20:51] cannikin commented on #648
I can delete the Algolia index and then deploy, which will eliminate the Tutorial results?

[2021-03-28 20:56] clairefro commented on #648
I believe it would. To be safe, we can keep a backup of the current record base by clicking "Duplicate" for the current index in Algolia

[2021-03-28 22:25] vchoy opened #650 "Modify import @apollo/client redwood js."
Cause:
https://github.com/redwoodjs/redwood/issues/2132

Documentation needs to be changed to import directly from apollo.

[2021-03-29 20:17] clairefro commented on #648
resolved by #649

[2021-03-29 20:17] #648 closed

[2021-03-30 17:03] cannikin commented on #648
I should have checked this issue before I deleted it, sorry! 😬 We could re-generate if we really needed to, but I think we'll be okay.

![image](https://media.giphy.com/media/2zoFXIZs5F6tSPs8fB/giphy.gif)

[2021-03-31 04:39] jacebenson opened #654 "Add CreateMany info for seed.js to get it to work"
# It's confusing why seed.js references createMany and it doesn't work until createMany is added to `./api/db/schema.prisma`

If you update that file's generator code like below, it works.  However, that's a postgres only thing based on https://github.com/redwoodjs/redwood/pull/1776/files#r574588494

[code]

I think it should either be in the comment how to get it to work, OR, it should be include

[2021-03-31 19:02] jacebenson commented on #654
I didn't realize how long that would be.  I just thought it might make sense to include how to get the seeding to work since createMany doesn't work until it's added.  I'm okay closing this as .29 not far off.

[2021-03-31 19:02] #654 closed

[2021-04-01 14:20] Tobbe opened #657 "Set: Document props forwarding"
Need docks for this new feature https://github.com/redwoodjs/redwood/pull/2125

Copy/paste from that PR

---

Any prop you give to `<Set>` (except for `wrap`) will be passed on to the wrapper components.

This...
[code]
becomes...
[code]

[2021-04-02 08:55] Tobbe opened #658 "Document route params types"
PR https://github.com/redwoodjs/redwood/pull/2177 adds support for :Boolean and :Float in addition to :Int transformation of route parameters. This needs to be documented.

[2021-04-03 19:11] #634 closed

[2021-04-06 01:25] ehowey commented on #346
Just wanted to chime in and say I would love to see this! I am using @Tobbe SupaSlack project as a starting point and muddling my way through a Redwood/Supabase auth integration. I will post a link to what I get done, probably not good enough for a cookbook but maybe gives someone a headstart to create one.

[2021-04-06 04:28] ehowey commented on #346
This is where I got to tonight.  Really basic. All it does is allow a sign up, login, and logout. I am going to keep puttering away at it as a learning project and see where I can get it to.  I am going to intentionally leave this as just bare html without styles as the focus is really on the backend integration.

The goal is to have the following:

- [x] Sign up
- [x] Login
- [x] Logout
- [x] Gat

[2021-04-08 23:40] thedavidprice commented on #650
out of date yarn.lock was causing this behavior. deleting it and then running `yarn install` resolved.

[2021-04-08 23:40] #650 closed

[2021-04-10 18:35] #657 closed

[2021-04-16 03:32] Isaac-Tait opened #670 "Colbyashi Maru News Featuring RedwoodJS"
Add Colbyashi Maru's latest challenge to the Redwood JS news ![jelly-1900x2440](https://user-images.githubusercontent.com/14932877/114967586-95dbf480-9e29-11eb-87e6-4d9d83d1b6f5.png)

Pull Request incoming shortly.

[2021-04-16 15:05] dthyresson opened #672 "docs(logger): Add Example for LogDNA Transport"
The logger documentation includes examples for how to use LogFlare and DataDog, but another popular transport is LogDNA.

This issue is a request to include how-to documentation in

See: https://github.com/redwoodjs/redwoodjs.com/blob/main/docs/logger.md

to setup [LogDNA](https://www.logdna.com/) using the [pino tranport](https://github.com/logdna/pino-logdna#readme).

[2021-04-16 15:06] #646 closed

[2021-04-16 15:07] dthyresson commented on #646
Added a different issue w/ request for help.

[2021-04-19 21:21] #670 closed

[2021-04-20 17:48] NickSchmitt opened #673 "Many-To-Many example in Redwoods documentation produces errors"
Hello, thanks for all your hard work on Redwood.

I'm trying create a Many-to-Many schema that works with the Redwood Scaffold generator, but the example on the [Redwood schema docs](https://redwoodjs.com/docs/schema-relations#supported-table-structure) emits errors.

Steps to recreate:
1. Create a new redwood project
2. Copy Many-To-Many schema from Redwood docs into schema.prisma

### schema.pri

[2021-04-21 00:37] thedavidprice commented on #673
Thanks @NickSchmitt It seems like Prisma might have changed up the syntax on us.

@cannikin I reproduced the issue on Redwood v0.30.1 (using the latest Prisma v2.21.2). Here's my modification to resolve the Prisma errors — could this now be correct?

[code]

[2021-04-21 01:16] cannikin commented on #673
Hmmmm yeah in their docs it shows that you reference the join table itself, not the tables you're actually linking to (which is the opposite in an *implicit* relationship): https://www.prisma.io/docs/concepts/components/prisma-schema/relations#explicit-many-to-many-relations

I wonder if that changed or we just wrote it into the docs assuming it worked that way but never tested? 😬

[2021-04-21 05:31] Tobbe commented on #673
I just went and looked in our schema.prisma file

[code]

We haven't touched those parts of that file since October last year, so if Prisma changed it, they did so a long time ago 🙂

[2021-04-22 16:01] thedavidprice commented on #673
@NickSchmitt would you have a chance to take my schema example (earlier comment) for a test drive? If it's working, we'll need to update the docs.

Just let me know either way and no pressure.

[2021-04-22 16:19] dac09 commented on #658
Added in previous release! https://github.com/redwoodjs/redwood/commit/0dd5ff3f5f8a5645c434b359da00cda07759ed28

[2021-04-22 16:19] #658 closed

[2021-04-22 16:56] NickSchmitt commented on #673
@thedavidprice Just booted up a new rw proj with your schema. It migrates successfully and the product scaffold does generate, but the site crashes when run.

Here's what I get in the terminal on `yarn rw dev`:

[code]

Interestingly the schema generates 5 SQL tables... is this expected?

[code]

[2021-04-22 20:42] thedavidprice commented on #673
@NickSchmitt ok, that might actually be a good sign that the Scaffold is working. The trick with trying to do generator CRUD with many-to-many is that you need SDLs for the other models as well. So it becomes a multi-step process. I'm thinking off the top of my head as I don't have time to try this out first, but effectively you'll need to step through the process something like this.

First `yarn

[2021-05-15 21:14] #579 closed

[2021-05-18 05:26] jtoar opened #700 "Add docs or a cookbook for a11y UI libraries"
It's good practice to use libraries like reach ui, headless ui, react-aria, chakra ui, etc. for making accessible UIs. It'd be great to have either a section in the accessibility doc or a cookbook about using one of these libraries.

[2021-06-08 16:19] cannikin commented on #171
Closing because I'm going to record a whole new one for 1.0 and that'll be one long one.

[2021-06-08 16:19] #171 closed

[2021-06-08 16:37] cannikin opened #713 "Homepage redesign in preparation of 1.0"
I played around with a new homepage design a couple of months ago, opened it as a draft PR, and then forgot about it while other things took priority.

Some things we'd like to accomplish with this redesign:

* New tagline: "Bringing full-stack to the Jamstack" seems too narrow of a focus now, Redwood is more than that. @mojombo  mentioned it being more like a "super framework"
* Move the docs to

[2021-06-08 16:39] cannikin commented on #713
/cc @noire-munich @clairefro

[2021-06-11 18:32] cannikin commented on #713
Brainstorming a new message for the hero section...

* One API, multiple clients (web, mobile, Electron, CLI...)
* Edge-ready
*

[2021-06-13 19:07] dthyresson opened #717 "Docs - Quick Start - Update current versions of Node and Yarn required"
In https://redwoodjs.com/docs/quick-start

![image](https://user-images.githubusercontent.com/1051633/121819015-d3f26a80-cc58-11eb-8c6b-069595ce1bc8.png)

[code]

An issue was raided here in Community https://community.redwoodjs.com/t/best-way-to-start-contributing/85/10?u=dthyresson about installing Prisma with v12.

Should these docs be updated to use Yarn 1.18 and Node 14.7.0 (or lts)?

[2021-06-15 00:24] thedavidprice commented on #717
Good catch, because we pin it in the package.json via `"node": "14.x",` we should just say
- `RedwoodJS requires Node.js (=14.x) and Yarn (>=1.15)`

The Tutorial has it as `>=14` which is not correct (15 and 16 will error).

[2021-06-15 00:32] thedavidprice commented on #717
- .com PR here #719
- tutorial PR here https://github.com/redwoodjs/learn.redwoodjs.com/pull/124

@dthyresson I've requested your review on both

[2021-06-21 10:46] 0x1a4f7d58 opened #728 "Docs - CLI Commands page doesn't render as expected"
https://redwoodjs.com/docs/cli-commands

Issue
- Different navbar (missing rw logo and GitHub stars count)
- Missing "the aside to the right" (i.e. the right nav)
![image](https://user-images.githubusercontent.com/10007010/122750329-8f9a4680-d2b8-11eb-8ef9-73e7d97c06c9.png)

[2021-06-21 12:17] #728 closed

[2021-06-22 03:53] 0x1a4f7d58 opened #731 "Cookbooks - File Uploads - filestack-react has been deprecated"
filestack-react has been deprecated
https://www.npmjs.com/package/react-filestack

Cookbook code no longer works :/
https://github.com/redwoodjs/redwoodjs.com/blob/main/cookbook/File_Upload.md

Looks like should be using this instead:
https://github.com/filestack/filestack-react#usage

[2021-06-22 15:50] thedavidprice commented on #731
Thanks for letting us know about this @0x1a4f7d58 Curious if you've tried to implement with `filestack-react` and/or if you'd be available to help us update this article?

Looping in @cannikin (who I believe created this cookbook).

[2021-06-22 15:57] cannikin commented on #731
Dammit, their old React code just *doesn't work* any more? Something about their API must have changed? But there must be thousands of integrations with that old package...did everyone's site just stop working?

Just double checked and an old integration I have (from about a year ago) and it still works! Maybe there's some versioning built in somehow?

[2021-06-22 16:08] dthyresson commented on #731
I recently used Filestack (a few months ago) in a project and I just checked and was using

[code]

And this is in a RW app.

[code]

And works fine.

So, yes, the Cookbook does need updating.

[2021-06-27 00:14] georgewritescode commented on #713
I'm not sure typescript is mentioned there.
In the description we could add typescript to the list Redwood is build on.
We could also add a typescript toggle to the code snippets.

[2021-06-29 20:50] thedavidprice opened #734 "test discord integration"
helloz

[2021-06-29 20:50] #734 closed

[2021-06-30 01:38] cannikin opened #735 "Docs: Environment Variables doc lies like a rug when it comes to ENV vars on the web side"
[The docs](https://redwoodjs.com/docs/environment-variables#development) say that if you create any environment variables they will be available on the web site with no special config, but it turns out this is not true! @jtoar and I found that the steps that apply to production are also required on in dev: either prefix the ENV var with `REDWOOD_ENV_` or add an option in `redwood.toml` to allow a

[2021-07-01 16:04] dthyresson opened #738 "Docs: Need to document the GraphQL handler options to configure"
With some upcoming enhancements to the GraphQL handler, will want to document the `GraphQLHandlerOptions` available:

[code]

This will apply to ApolloServer as well as has many of the same options.

And also include things like custom `userContext` handlers.

[2021-07-07 23:12] thedavidprice opened #740 "Update Auth Doc: Clarify what a "Custom" provider is (and is not)"
_continuing discussion from https://github.com/redwoodjs/redwood/issues/1585 originally posted by @dthyresson_
## To Do
Update the doc to clarify per info below

## Background
See the following [Community topic post](https://community.redwoodjs.com/t/custom-github-jwt-auth-with-redwood-auth/610/18?u=dthyresson) from "edjiang":

![image](https://user-images.githubusercontent.com/1051633/102496456-6

[2021-07-12 22:44] #738 closed

[2021-07-14 15:04] dthyresson opened #747 "Also reference Head and MetaTags in Webpack Config Docs"
The section on setting a custom title in the Webpack configuration docs

https://redwoodjs.com/docs/webpack-configuration#changing-the-title-of-the-page

might also want to link and refer to the <Head> and <MetaTags> components in @redwoodjs/web as another way to set titles.

https://redwoodjs.com/docs/seo-head

@dac09 to add more details.

[2021-07-16 16:46] ajcwebdev opened #749 "Include the ability to toggle between JavaScript and TypeScript"
If we look at Prisma's documentation we see that we can [toggle between JavaScript and TypeScript](https://www.prisma.io/docs/getting-started/setup-prisma/start-from-scratch/relational-databases/connect-your-database-typescript-postgres) (and even between Postgres and MySQL).

![primsa-typescript-javascript-docs-toggle](https://dev-to-uploads.s3.amazonaws.com/uploads/articles/splgvltjg663cig2qt8z.

[2021-07-21 00:14] dthyresson opened #751 "Docs - Connection Pooling is missing `pgbouncer` info"
In https://redwoodjs.com/docs/connection-pooling the docs need a How to Use PGBouncer w/ Prisma with connection pooling section.

See: https://www.prisma.io/docs/guides/performance-and-optimization/connection-management/configure-pg-bouncer/

[code]

This is needed if using Supabase with pooling.

[2021-07-23 20:11] dthyresson opened #756 "Docs - Incorrect Typecheck Command"
See:

<img width="717" alt="image" src="https://user-images.githubusercontent.com/1051633/126835876-79ee4c06-f57b-4ed8-ad20-6151fb289b74.png">

And compare with:

[code]

which suggests:

[code]

Docs needs to be updated.

Also, there is no mention of the in the cli commands:

<img width="287" alt="image" src="https://user-images.githubusercontent.com/1051633/126836067-c8fe8c0e-f31f-42de-b39e-5ccb

[2021-07-26 14:09] #756 closed

[2021-08-04 21:04] ajcwebdev opened #765 "PM2 error when trying to deploy on Windows instead of Linux"
From Discord discussion with @bshea5:

![pm2-deploy-error](https://user-images.githubusercontent.com/12433465/128254492-1d18fb29-1402-410e-8979-51c4f63133aa.png)

### Workaround

[2021-08-07 16:25] dthyresson opened #766 "Document Workaround for `Cannot find module` error in Netlify functions when deploying and building with esbuild"
See issue: https://github.com/redwoodjs/redwood/issues/3216

There is an issue when building with `esbuild` on in the `redwood.toml` and then when Netlify builds functions.

At runtime, the functions report an error with `Cannot find module  '@babel/runtime-corejs3/core-js/object/define-property'`.

The workaround is to disable esbuild when deploying.

So, this workaround might be added to help tr

[2021-08-07 20:39] sarthaktexas commented on #713
is this still something that needs help?

[2021-08-07 20:53] sarthaktexas commented on #713
database-ready jamstack framework?

[2021-08-07 21:15] sarthaktexas commented on #581
either way i'd imagine it'd look the same way
![image](https://user-images.githubusercontent.com/28282096/128614005-f9cda93f-3ce8-46de-ab4d-250c14ba9d90.png)

[2021-08-07 23:51] sarthaktexas commented on #104
Is there a specific reason why the twitter should be more prominent?

[2021-08-08 16:06] dthyresson opened #769 "Authentication documentation for useAuth hook on web side needs improvement"
After a discussion on Discord about how to fetch the currently logged in user and their profile on the web side, I realized that while some of the `useAuth` hook is documented in the Authentication section and some in the RBAC cookbook, it is not easy to understand and there are no code examples to quickly realize how to the the hook.

See https://redwoodjs.com/docs/authentication#api which is mos

[2021-08-09 11:08] dac09 commented on #766
Note that v0.36 changes how API files are transpiled slightly.

I think this issue started happening since our repo re-organisation. My understanding:

We're using `@babel/plugin-transform-runtime` as a framework dep, used at BUILD time.

In the docs

but in a small section they also mention:

So solution I think maybe to add the runtime dependency to `@redwoodjs/api`

[2021-08-09 12:26] dthyresson opened #771 "Serverless Documentation should include serving binary data example"
See: https://github.com/redwoodjs/redwood/pull/3219

Support was added to return Base64 encoded binary data as described in https://aws.amazon.com/blogs/compute/handling-binary-data-using-amazon-api-gateway-http-apis/

These serverless docs could use a quick description of how/why to return binary data and base64 encoding.

[2021-08-09 12:27] dthyresson commented on #771
@corbt You you be able to write up short docs on your PR to support binary data? Thanks.

[2021-08-09 15:44] corbt commented on #771
cc @dthyresson

[2021-08-09 19:39] thedavidprice commented on #766
To be closed when redwoodjs/redwood#3220 is merged

[2021-08-09 19:58] #766 closed

[2021-08-11 19:55] dthyresson opened #773 "How to Protect Serverless Function with Authorization Examples need improvement"
The examples below to protect a serverless function are incorrect. Simply asking it `requireAuth()` in a function won't check the event for the Authorization headers or decode its Bearer token.

See:

https://redwoodjs.com/docs/serverless-functions#authentication

![image](https://user-images.githubusercontent.com/1051633/129094025-198a9e34-6c30-40c9-8c5f-8a25df09928f.png)
https://redwoodjs.com/co

[2021-08-12 03:10] sarthaktexas commented on #104
that makes sense

[2021-08-13 20:47] dthyresson opened #776 "Cells Documentation refers to predictcovid.com but visiting site issues security warnings"
See the Loading section of the Redwood cells docs:

https://redwoodjs.com/docs/cells#loading

![image](https://user-images.githubusercontent.com/1051633/129416639-3fbdaa64-b893-4384-9a32-c27ee9c139a1.png)

When visiting the site, my eero firewall won't let me visit due to securing issues:

![image](https://user-images.githubusercontent.com/1051633/129416666-6080e954-d47d-4380-af01-810a59b07941.png

[2021-08-13 21:44] bshea5 opened #777 "Update to Many-to-Many Definition example in Redwood Docs"
Version: 0.35.2
OS: Windows

Regarding the documentation for schema relations, [schema-relations](https://redwoodjs.com/docs/schema-relations)

While attempting to define a many to many relationship using the Redwood docs, I ran into a problem.
[code]

I'd get this in running the migration, but also in my linting results.

I consulted Discord and @dthyresson told me to check out the Prisma docs to

[2021-08-13 22:21] bshea5 commented on #777
Follow up: When I used `g scaffold` with the above models I got:
 ┌─────────────────────────────────────────────────────────────────────────┐
 │                                                                         │
 │   WARNING: Cannot generate CRUD SDL without an `@id` database column.   │
 │                                                                         │
 │   If you are trying to g

[2021-08-14 18:03] dthyresson commented on #777
So, the code sample on the docs site is out of date and does give an error:

![Screen Shot 2021-08-14 at 13 48 46](https://user-images.githubusercontent.com/1051633/129456109-c3dfd832-b37b-41c0-b5b5-bc7e90dbfb23.png)

But, there is a subtle difference between the Product and Tag and the Post and Category many-to-many explicit example.

Notice that `ProductsOnTags` has **products** and tags** plura

[2021-08-16 22:15] thedavidprice commented on #776
+1 remove

[2021-08-17 23:07] cannikin commented on #777
It looks like Prisma changed their docs around...the link for many-to-many relationships in our doc should go here now: https://www.prisma.io/docs/concepts/components/prisma-schema/relations/many-to-many-relations/ That one explains the difference between implicit and explicit, and it says in our docs, you can only scaffold an *explicit* many-to-many (and it has to have an `id` column).

Looks lik

[2021-08-17 23:20] cannikin commented on #713
We're trying to move away from "jamstack"...there's a lot of baggage around CRM-backed applications with no use for a database. Not sure if we should be inventing something new, or just a better combination of terms... "edge-ready javascript framework" or something similar...

[2021-08-17 23:27] bshea5 commented on #777
Unless there is something else under the hood going on, updating it to match the prisma docs works for my project. I was able to scaffold all three models.

[2021-08-18 00:55] sarthaktexas commented on #713
that makes sense

[2021-08-19 21:57] #771 closed

[2021-08-20 02:56] sarthaktexas commented on #769
ooo i'll start working on this

[2021-08-20 12:28] dac09 commented on #713
Hey @cannikin - had a couple of points worth considering

**a) Longer docs**
one of my pet peeves with our current docs is when the document is super long, it feels very overwhelming and hard to know where you are on the page. I don't have a suggestion for this, but we should maybe think about how to improve this experience

**b) More ways to provide context in the code blocks**
There's an excelle

[2021-08-20 18:25] sarthaktexas commented on #713
For the longer docs thing, can't we just add like a progress bar/circle type thing? I feel like to would help readers gauge where they are.

[2021-08-21 16:39] jacebenson opened #781 "When connecting to Supabase a postgresql provide you don't want to use"
We should update the docs for these special variations when folks want to use different postgres providers.

supabase has something that seems to requiring
https://github.com/prisma/prisma/issues/6485#issuecomment-875162237

To connect to supabase from a local machine to supabase hosted, you need to use the connection string listed on the ..
Settings>Database>Connection String (has a 5432 port)
vs

[2021-08-21 18:22] jacebenson opened #782 "DBAuth - Can't authenticate on Vercel"
I was able to get close but still not getting success.

Here's the issue.  If you make a repo, build a homepage, setup db auth, add a layout w/login/signup/logout links it works locally, but doesn't work on vercel.

Issue 1: Vercel base64's the body if there is one.  This isnt handled currently.  I think that code to handle this should be in here: https://github.com/redwoodjs/redwood/blob/0e49b9d8

[2021-08-21 18:55] dthyresson commented on #782
@jacebenson I’m not 100% sure you can modify the event body as here:

https://github.com/jacebenson/rw36dbauth/blob/37276e094f69d679319d73a4f5df4f0ab8084257/api/src/functions/auth.js#L11

instead could you try the decode the body into a new variable and use that instead of referencing event.body in the remaining code?

[2021-08-21 19:48] jacebenson commented on #782
Yea, Trying that seems to do the same thing. I updated the repo with the new attempt.

On login im getting
[code]

[2021-08-21 19:55] dthyresson commented on #782
Actually, I didn't look closely at the function, but I don't think you can do this here -- or make a copy of the event.

It will need to be done in `DbAuthHandler` instead probably around here:

https://github.com/redwoodjs/redwood/blob/0e49b9d86cc996d5ffe548d081887d4feed5675e/packages/api/src/functions/dbAuth/DbAuthHandler.ts#L207

[2021-08-22 14:15] dthyresson opened #783 "Document how to logout using dbAuth"
From Discord:

The Api section here is a little misleading because it means the api for Authentication, but ic can be misread easily as th auth for "api side":

![image](https://user-images.githubusercontent.com/1051633/130358378-9a3e9d4f-cae9-4d0c-84cf-5ab6df5c8778.png)

But, perhaps we move this to the top of the Auth docs and then say that the logout method is used for all providers -- includin

[2021-08-24 23:34] cannikin commented on #713
Some more ideas for pitching Redwood from @mojombo during a core meeting:

* RedwoodJS is the framework for serious work
* Next.js for your weekend project, Redwood for your startup
* Will end up saving thousands of dev hours
* Maybe tell the “workflow story": starting from Storybook, build front end, plug in backend
* Design-oriented workflow
* We probably can’t beat Next.js for the quick, weeken

[2021-08-24 23:38] sarthaktexas commented on #713
I love the first two!

[2021-08-24 23:45] #735 closed

[2021-08-25 02:50] sarthaktexas commented on #713
If it's possible, I'd love to talk about these non-async (sync sounds weird lol)

[2021-08-26 05:30] dthyresson opened #784 "Document how to use SSL in Prisma database connection string"
To use SSL when connecting to a Postgres database that supports it, such as Supabase you can use:

`postgresql://postgres:http://mydb.supabase.co/postgres?sslmode=require `

Need to update the documentation for setting the Prisma connection string especially for the section on connection pooling.

[2021-08-28 06:53] georgewritescode commented on #713
Looks great!

For me the 'hero' paragraph is a tad long for new viewers.
I think cutting the last two sentences and adding to the prior sentence 'ready to go and ready to scale' would deliver a similar message. We could break up the messages in the sentence with 'Redwood is pre-configured with React, GraphQL, Primsa, Storybook, Jest and more, ready to go and ready to scale.

Regarding the last sen

[2021-09-01 21:48] jacebenson commented on #781
Looks good !

[2021-09-01 21:48] #781 closed

[2021-09-05 11:44] jacebenson commented on #713
I started to look at this... last night and I should have commented then.  The site generator you're using is.. very different from what I've seen.  Anyways, I thought, "Wouldn't it be fun to re-create what @cannikin did in 11ty?"  So I did.  (maybe it will not scare folks away from contributing)

If your not opposed to it, I can make a PR.  I looked over you're build and noticed the following thi

[2021-09-05 17:46] cannikin commented on #713
Hey, that's CameronJS, the best framework ever! https://cameronjs.com/ Never got around to building out the actual site. 😬

I just have visceral negative reaction to using something like React for a static site. Even something like Gatsby, which will make a static site at the end of the day…someone tried that at one point and it was like a 10 minute deploy process, just to end up with flat HTML. 😕

[2021-09-05 22:08] ajcwebdev commented on #713
11ty has nothing to do with React, it's a static site generator modeled on Jekyll but with Node instead of Ruby. The creator works for Netlify so I would image the builds are well optimized. It doesn't support dynamic data beyond the experimental new [serverless feature](https://www.11ty.dev/docs/plugins/serverless/), if you wanted to use something like React with it you would need something like

[2021-09-08 22:30] thedavidprice commented on #777
@bshea5 great to hear! Thanks for reporting back with the update.

If anyone is available to update this doc on the site, the help would be greatly appreciated!

[2021-09-08 23:05] cannikin commented on #777
I thought for sure I already made this change in the docs, but I don't see it there now...maybe I'm just thinking of that code snippet above. Should be pretty simple to plug that into the docs and just update a couple blocks of text nearby. I can come back around to it if no one grabs it soon.

[2021-09-09 02:26] shansmith01 commented on #777
Happy to update. First time contributing.

Working out many-to-many relationships has been challenging so far. I May have to fire off a few more issues yet, but happy to make that doc pretty comprehensive if we can it sorted

[2021-09-09 03:07] shansmith01 commented on #777
So I have just attempted to use [the snippet above ](https://github.com/cannikin) and I can not generate a scaffold for ProductsOnTags. I get the following error

<img width="699" alt="Screen Shot 2021-09-09 at 3 03 16 PM" src="https://user-images.githubusercontent.com/1866452/132615511-2f3236a7-b349-4a08-89aa-9079dd235c70.png">

I attempted to generate a scaffold and also just generate an SDL wit

[2021-09-09 04:05] shansmith01 commented on #777
Okay, and the culprit was the productsontags having an s on the end. So the correct code is

[code]

[2021-09-09 04:06] bshea5 commented on #777
Sounds right. I had to define mine as singular as well(no 's'). Thanks for updating the docs.

[2021-09-09 04:15] cannikin commented on #777
Whoops, sorry! 😃 Thanks for updating the docs, I’ll review in the morning!

[2021-09-14 17:07] cannikin commented on #777
Merged, thanks!

[2021-09-14 17:07] #777 closed

[2021-09-17 18:33] #776 closed

[2021-09-17 23:46] #751 closed

[2021-09-17 23:46] #784 closed

[2021-09-17 23:51] jacebenson commented on #713
@cannikin I've been thinking about the job board thing.  I think either we should drop it until you and @mojombo decide how you want to have that as managing posts/users and such seems like a drag.  If folks could post jobs on something like indeed.com or whatever an api hit would be no problem.

[2021-09-22 16:44] dthyresson commented on #740
Be sure to see: https://github.com/redwoodjs/redwood/pull/3414

I will be adding some better info on custom for release 0.37 and an example of how to use the token (not decoded) to wither find an account or other case (say API key).

[2021-09-22 16:48] dthyresson commented on #645
@dac09 and @thedavidprice with 0.37, the `graphql.ts` function in your app no longer exposes `makeMergedSchema`.

See: https://github.com/redwoodjs/redwood/blob/main/packages/create-redwood-app/template/api/src/functions/graphql.ts

We have a new way of passing in schema directives (see redwoodjs/redwood#1964).

I'm not sure `makeMergedSchema` needs external docs. Thoughts?

[2021-09-22 16:53] dthyresson opened #799 "Document Services - Intro, how to generate, what are they, how they relate to GraphQL/SDL"
See: https://redwoodjs.com/docs/services

Most of the Services documentation noted above concerns "Secure Services" and the before resolver -- whose implementation is being depreciated in 0.37 in favor of auth validation directives.

But, there is little documentation about what services actually are and what they do.

Suggestions:

* intro/overview
* how to generate
* what are they used for (Pris

[2021-09-22 18:03] dac09 commented on #645
Agreed, probably an internal detail we don't need to expose anymore :)

[2021-09-22 18:19] #645 closed

[2021-09-23 13:09] dthyresson opened #800 "Cookbook: RBAC examples for securing services need to use directives"
See: https://redwoodjs.com/cookbook/role-based-access-control-rbac#how-to-protect-a-function

The current RBAC cookbook shows securing services with the requireAuth check.

While this approach can still be used, it should be noted that the GraphQL resolver can be now also protected using validate directives as on v0.37

[2021-09-29 21:24] ajcwebdev opened #806 "Include feature comparison table for different auth providers"
## The Problem

There are a wide range of current options for auth. The options have expanded exponentially since the original tutorial and there’s numerous overlapping implementations with a complicated matrix of pros and cons for each. We have thorough docs for implementing any of the available options but not something that actually compares features.

### The question is, *why* would you use o

[2021-09-30 00:06] thedavidprice commented on #806
This feels like limited ROI for me — more so overhead. Maybe better if it's in the Forums as a Wiki for editing and discussion.

**Don't get me wrong.** I 💯 feel the pain of upfront decision overload + fatigue --> I feel like this will only _add_ to the overload. (Go ahead and just imagine a chart with 15+ "features" across the top and 12+ providers vertical... how does that "feel" to your mind's

[2021-09-30 00:10] jacebenson commented on #806
How bout a "what do I get with these providers" widget where they pick auth provider (provide snippet), db provider (provide snippet), hosting provider (provide snippet)

you pick the three it builds out the links to the relative docs and commands to get started w/ small feature set of what it buys you either "at little cost" or "free"?

[2021-09-30 00:15] dthyresson commented on #806
My concern would be some inferred or implied bias or recommendation of one provider over another — just as there is choice over a host and deployment would one weigh in with a feature set comparison?

[2021-09-30 15:35] ajcwebdev commented on #806
I definitely agree we want to avoid information overload and I don't think this necessarily needs to live in the docs repo. But I think it's useful information to collate *somewhere*, because there are going to be users who look at this list and will have to do the due diligence themselves unless they want to throw a dart and hope for the best.

It's true there is a low switching cost but if we ca

[2021-09-30 15:47] dthyresson commented on #806
I do see the argument, but I just am playing "devil's advocate" for the slippery slope -- does the official documentation also include a breakdown of databases (PG vs MySQL vs Aurora vs SQLServer vs Mongo) and even db providers (Digital Ocean vs Heroku vs Supabase vs Render vs PlanetScale vs Railway).

As DP noted, perhaps the place for this info is a cookbook or blog vs the docs.

[2021-09-30 16:31] ajcwebdev commented on #806
I'd say no to database type but maybe yes to database providers (for example some of those give you PostgreSQL, MySQL, and Mongo instead of just Postgres or MySQL which would be good to know).

[2021-09-30 21:03] thedavidprice opened #807 "Move Router doc from Framework Repo to this repo"
it's time to move this:
- https://github.com/redwoodjs/redwood/tree/main/packages/router/README.md
- over to this https://github.com/redwoodjs/redwoodjs.com/blob/main/docs/router.md

[2021-10-01 16:46] dthyresson opened #812 "RBAC Cookbook needs to be updated to use Auth Validation Directives"
See: https://redwoodjs.com/cookbook/role-based-access-control-rbac

For v0.37, the way roles re checked has moved into SDLs.

All the examples here need updating.

[2021-10-03 16:18] keithtelliott commented on #806
I recently fell into an auth hole and have been clawing-out for a month.  I never messed with auth in the past, so I can offer the noob perspective…

I crave cookbooks/tutorials like the Rob’s [Netlify GoTrueJS Cookbook](https://redwoodjs.com/cookbook/gotrue-auth).

I was NOT bogged-down picking an auth path.  I just picked Supabase Auth b/c my [Maker Hour](https://community.redwoodjs.com/t/redwoo

[2021-10-04 21:45] thedavidprice commented on #806
@keithtelliott that's a fantastic idea especially since we recommend Supabase all the time. Bonus points if you create a recorded screencast that goes through the cookbook. We could upload to the Redwood YouTube channel! (no pressure 😉)

[2021-10-04 21:53] thedavidprice commented on #806
Thinking further on this, here's what my recommendations would be if I were to take a stab at this doc:

1. Just looking to see how easy it is to set up and deploy Redwood auth (especially on serverless)?
    - Use Netlify Identity and then deploy on Netlify
2. New(er) to Auth and want to learn the aspects of Auth setup and management in a full-stack app?
    - Use dbAuth
3. Already understand Aut

[2021-10-05 09:20] dthyresson opened #822 "GraphQL CORS configuration lacks documentation"
The GraphQL docs are kissing a section to describe how to configure CORS whose options are noted in https://github.com/redwoodjs/redwood/blob/bf9530fc7fe5b97f77e4a3656c9c0f4f88510cee/packages/graphql-server/src/cors.ts#L4

Could use examples with common configs.

[2021-10-05 21:20] dthyresson opened #823 "Update CLI and Database Seed documentation for Prisma v#"
See: https://github.com/redwoodjs/redwood/pull/3507

Prisma v3 now adds the seed script command to the package.json and the seed script in scripts instead of api/db.

Documentation needs to be updated accordingly.

[2021-10-07 18:39] dthyresson opened #824 "GraphQL Documentation: Error Handling and Masking"
The GraphQL section is missing details about the types of errors to raise and how the are handled by the masked errors plug-in to sanitize the error message returned to the client on the result response.

[2021-10-08 21:55] doesnotexist opened #825 "GraphQL docs do not reflect migration to Envelop/Helix, still reference Apollo Server"
Just a reminder that this GraphQL page is out of date with move to Helix/Envelop in v0.37+ https://github.com/doesnotexist/redwoodjs.com/blob/main/docs/graphql.md

[2021-10-13 00:38] jtoar opened #831 "Consider twoslash for TS code samples"
If we end up moving other docs to docusaurus, we should consider plugins like https://github.com/shikijs/twoslash to provide static code samples for some of the TS portions.

[2021-10-13 01:13] jtoar opened #834 "Tracking changes to apiProxyPath"
`apiProxyPath` is used in quite a few places in the docs; replacing each occurrence with `apiURL`, `apiGraphqlURL`, or `apiDBAuthURL` will require a bit of thoroughness. Here's the running total:
- https://redwoodjs.com/docs/app-configuration-redwood-toml.html#apiproxypath
- https://redwoodjs.com/cookbook/self-hosting-redwood.html#adding-dependencies
- https://redwoodjs.com/docs/webpack-configurat

[2021-10-18 13:05] guledali opened #846 "These graphql errors are missing documentation"
<img width="1153" alt="Screenshot 2021-10-18 at 15 04 56" src="https://user-images.githubusercontent.com/20647282/137736680-a929bc7e-ab4a-4881-b560-efa75d9e9c71.png">

[2021-10-19 22:54] #807 closed

[2021-10-21 06:11] KrisCoulson opened #852 "Scroll issue on mobile menu"
https://user-images.githubusercontent.com/6943688/138221081-74b3644e-3abd-46c7-9623-fec223060e09.MOV

If you view the site on mobile open the menu and then scroll by placing your finger where the logo is the recorded issue will happen. If you just scroll on the menu it seems to work fine.

[2021-10-21 16:47] cannikin commented on #147
Absolutely! Can you give me a quick overview of how you'd show the integration in a cookbook article?

[2021-10-27 14:46] dthyresson opened #860 "Docs - Clarify GraphQL health check is a get request"
Some people in Discord assumed what since it was part of the GraphQL handler that you would request the health check via a post query.

doxs should make it clear that it is a get and have an example http request or curl.

[2021-10-29 18:16] #860 closed

[2021-10-29 19:35] #822 closed

[2021-10-29 19:35] #824 closed

[2021-10-29 19:35] #825 closed

[2021-10-29 19:35] #846 closed

[2021-11-01 14:09] dthyresson commented on #799
@jtoar and @cannikin do the current round of docs close this item out?

[2021-11-01 15:10] keithtelliott commented on #806
Progress update... I'm writing and I'll deliver - just a little late.

I have to say I'm an Astros fan, and therefore baseball became a part-time job for me as my team headed to the World Series in October.

Fortunately, Astros Manager Dusty Baker gave me official permission to turn in my Supabase Auth Cookbook a week late (but just one week late).

[2021-11-01 15:23] cannikin commented on #799
It's probably 80% of the way there..may want to update the bullet list in the first comment, as the only things left are:

* how to generate
* when to use a service and when to use a shared function in lib
* what arguments are sent in when called via GraphQL

[2021-11-03 02:05] watway commented on #731
I just ran through the File Uploads recipe and didn't have a problem.  `react-filestack` has been deprecated, but the recipe already refers to `filestack-react`, which has not been deprecated.

[2021-11-03 16:50] jtoar commented on #731
Thanks @watway, I recently updated the cookbook but forgot to close this issue—doing so now!

[2021-11-03 16:50] #731 closed

[2021-11-03 18:03] #834 closed

[2021-11-03 18:04] #717 closed

[2021-11-03 18:10] jtoar commented on #94
@cannikin This would be a great one to do given the recent Discord activity

[2021-11-03 18:11] #309 closed

[2021-11-04 07:23] callingmedic911 opened #873 "`@types/aws-lambda` should be `devDependecy`"
In webhooks/functions, to get the type hints specifically from line
[code]
we need have package `@types/aws-lambda`. @dac09 like you said, it used be there earlier? Let me know if you have something in mind to address this.

Possible way to fix:
- Include as `dependency` (not as `devDependecy`) in `@redwoodjs/api`.
- Include as `devDependency` in the `create-react-app` template directly. It would

[2021-11-10 16:08] keithtelliott commented on #806
Did it!  A few days ago I posted a [Supabase GoTrue Auth Cookbook](https://community.redwoodjs.com/t/cookbook-supabase-gotrue-auth/2531) on the Redwood Forums.

I hope it's a handy resource for those climbing the Supabase auth learning curve!

[2021-11-10 19:11] ajcwebdev commented on #806
Awesome job Keith!

[2021-11-13 15:47] orta opened #878 "Re-consider calling the graphql resolvers first arg as 'root' from 'obj'"
I'm sure you had this debate at some point, but root is only occasionally accurate, and often wrong:

[code]

[code]

[2021-11-13 16:46] orta opened #879 "How to use GraphQL fragments with redwood"
I didn't really find a nice place in the GraphQL document to add this, so I'm making this issue so it would turn up in search results. There are two things you need to do:

### Setup tooling

The GraphQL VS Code extension needs to know the fragment exists, so you need to change your `graphql.config.js` to start referring to documents:

[code]

This means the extension will start looking for `gql`

[2021-11-13 16:49] orta commented on #879
Perhaps we could change the default `graphql.config.js` to include documents then it's just a matter of folks learning where to put the right imports and queries

[2021-11-19 16:59] simoncrypta opened #884 "Add doc for errorCode in Failure component"
Related to https://github.com/redwoodjs/redwood/pull/3721
This should explain what it does and show examples of use case.

[2021-11-25 09:40] mr-bjerre commented on #584
I'd love to see this !! Have there been any progress on it?

[2021-12-01 00:09] renovate[bot] opened #901 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [Update dependency clipboard to v2.0.10](../pull/991)
 - [ ] [Update dependency marked to v4.0.14](../pull/1018)
 - [ ] [Upd

[2021-12-20 19:17] dthyresson opened #923 "docs: Document use of LogFormatter and the rw-log-formatter command"
See https://github.com/redwoodjs/redwood/pull/3947

The LogFormatter package provides a way to format RedwoodJS Logger output in development.

Importantly it should remove all dependency on Pino Pretty printing from api-server and graphql-server logging.

See: #3090

It is based on pino-colada: a cute ndjson formatter for pino.

Redwood-specific GraphQL log data included by the the useRedwoodLogge

[2021-12-20 19:20] dthyresson opened #924 "docs: Update Logger documentation to remove Pretty Printing options"
As part of https://github.com/redwoodjs/redwood/pull/3947, the Redwood logger no longer supports Pino's prettyPrint option in dev.

Note: this may be a breaking change but important for v1 as Pino v7 is deprecating it.

To document:

* how to change your options
* how to prettyPrint in dev
* how to pretty print in dev with serve api

[2021-12-21 16:48] dthyresson opened #925 "docs: GraphQL How to add Custom Scalar"
See: https://github.com/redwoodjs/redwood/pull/3884

[code]

Need docs for setup and the type gen workaround:

e.g.

[code]

from @dac09  > This seems like an odd experience, and we need a soution for this once we merge this PR in. At the very least maybe a cookbook just to explain why we need this workaround.

Also: test scaffolding with new custom scalar.

[2021-12-21 17:25] dthyresson opened #926 "docs: How To Customize Fastify Server Config"
Todo: Document Fastify Server Config

See: https://github.com/redwoodjs/redwood/pull/3950/

[2021-12-22 14:38] natserract opened #930 "."
.

[2021-12-22 14:41] #930 closed

[2021-12-29 13:12] muhammadmadni-ivl opened #934 "Redirect not working as expected for Tutorial - Part 4 #288"
Redirect not working as expected for Tutorial - Part 4 #288
https://github.com/redwoodjs/redwoodjs.com/issues/288

same issue as mentioned above
package.json (web)
![image](https://user-images.githubusercontent.com/78340648/147665792-a16f3447-368c-40ab-9b23-08a3efe0a5b3.png)

![image](https://user-images.githubusercontent.com/78340648/147665974-82c24e46-d92c-4aca-9aa4-cf81792d805c.png)